In [1]:
a = """
This is a mUltil line string
1
2

"""

In [2]:
a

'\nThis is a mUltil line string\n1\n2\n\n'

In [3]:
a = ""
This is a mUltil line string
1
2

""

SyntaxError: invalid syntax (3416321310.py, line 2)

In [4]:
""" valid string"""

' valid string'

In [5]:
'''valid string'''

'valid string'

In [6]:
"valid string"

'valid string'

In [7]:
"valid string'

SyntaxError: unterminated string literal (detected at line 1) (935343156.py, line 1)

In [8]:
"56"

'56'

In [9]:
"""56"""

'56'

In [10]:
'56'

'56'

In [11]:
"a" > "A"

True

In [12]:
x="A"
print(x)

A

**String manipulations/methods**

In [13]:
"random1" +    "random2"

'random1random2'

In [14]:
"a"*3*5

'aaaaaaaaaaaaaaa'

In [15]:
"zebra" > "adsahdjahsjhahfioahsfuaiusfhsuhfuishua"

True

In [ ]:
#Lexicograhical order

In [16]:
"abar" > "amar"

False

In [17]:
"aAa" > "aaa"

False

### **F-Strings and string formatting**

In [18]:
l =5
b =10
a = l*b

In [19]:
print("Length = ",l,"Breadth =",b ,"Area is =",a )

Length =  5 Breadth = 10 Area is = 50

In [21]:
print("Length = ,l,Breadth =,b ,Area is =,a ")

Length = ,l,Breadth =,b ,Area is =,a

In [25]:
#variable  is replaced by curly brackets
print("Length = {} Breadth = {} Area is = {}".format(l,b,a))

Length = 5 Breadth = 10 Area is = 50

In [26]:
print("Length = {} Breadth = {} Area is = {}".format(b,l,a))

Length = 10 Breadth = 5 Area is = 50

In [27]:
print("Length = {l} Breadth = {b} Area is = {a}")

Length = {l} Breadth = {b} Area is = {a}

In [28]:
print(f"Length = {l} Breadth = {b} Area is = {a}")

Length = 5 Breadth = 10 Area is = 50

In [30]:
a = "vibhes"
"my name is {}".format(a)

'my name is vibhes'

In [31]:
f"my name is {a}"

'my name is vibhes'

In [32]:
f"my name is {a}"

SyntaxError: f-string expression part cannot include a backslash (378687542.py, line 1)

In [33]:
print("Length = {} Breadth = {} Area is = {}".format(b,l))

IndexError: Replacement index 2 out of range for positional args tuple

**Two simple functions**

In [34]:
ord("a")#* ```ord()``` function can be used to get the ASCII value of a character.

97

In [35]:
ord("yogesh")

TypeError: ord() expected a character, but string of length 6 found

In [36]:
ord("y")

121

In [37]:
ord("b")

98

In [38]:
ord("0")

48

In [39]:
chr(48)

'0'

In [40]:
chr(97)

'a'

In [43]:
for i in range(97,123):
    print(chr(i),end=" ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

Question-1
Take a string input from user and print that string character by character, with each character in new line.
Input:
"INDIA"
Output:
I
N
D
I
A

In [44]:
a = input("Enter you value ")
for i in a:
    print(i)

Enter you value INDIA
I
N
D
I
A

##**Question-2**
* Take a string input from user.
* Print the following.

**Print format:**

```"First Character - <first_character>, Last Character - <last_character>``

In [46]:
# INDEXING/Slicing IN LIST AND STRINGS ARE EXCALTY SAME

In [47]:
"Srinivas"[0]

'S'

In [48]:
"Srinivas"[-1]

's'

In [49]:
"Srinivas"[-2]

'a'

In [50]:
a = input()
print(f"First Char {a[0]} ,Last Char {a[-1]}")

Gaju
First Char G ,Last Char u

In [51]:
l =['himesh','jimesh','ramesh']
l[0] = "fibnesh"
l#change the valyues of a lisrt

['fibnesh', 'jimesh', 'ramesh']

In [52]:
a

'Gaju'

In [53]:
a[0] ="R" #immutable

TypeError: 'str' object does not support item assignment

Question-3
Take a string input from user.
Reverse that string.

In [54]:
a = input()
a[::-1]

Zafar

'rafaZ'

In [60]:
a.reverse()

AttributeError: 'str' object has no attribute 'reverse'

In [59]:
list(reversed(a))

['r', 'a', 'f', 'a', 'Z']

Question-4
Take a string input from user.
Return "PALINDROME" if the string is a palindrome, otherwise return "NOT A PALINDROME".

In [ ]:
naman - yes
zafar - not

In [62]:
a = input()

if a[::-1]==a:
    print("Palindrom")
else:
    print("Not a Palindrome")

zafar
Not a Palindrome

In [63]:
a = input()

if a[::-1]==a:
    print("Palindrom")
else:
    print("Not a Palindrome")

Naman
Not a Palindrome

In [ ]:
#Edge Cases

In [64]:
"PRatik".lower()

'pratik'

In [65]:
a = input()

if a[::-1].lower()==a.lower():
    print("Palindrom")
else:
    print("Not a Palindrome")

PAP
Palindrom

In [69]:
a = "Alok"
print(f"This is waht you want right {{{a}}}")

This is waht you want right {Alok}

Question-5
Take a string input from user.
Print the number of upper case characters in that string.

In [ ]:
a = "This is a RANDOM strinG 67890, ^$#@"
Output:
8

In [75]:
count=0
a = "This is a RANDOM strinG 67890, ^$#@"

for i in a:
    if ord(i)>=65 and ord(i)<=90:
        count=count+1
count

8

In [76]:
"T".isupper()

True

In [77]:
"y".isupper()

False

In [80]:
count=0
a = "This is a RANDOM strinG 67890, ^$#@"

for i in a:
    if i.isupper():
        count=count+1
count

8

In [82]:
a=input("Enter value:")
lower=0
upper=0
for i in range (len(a)):
    if ord(a[i]) >= 97 and ord(a[i]) <=122:
        lower+=1
    elif ord(a[i]) >= 65 and ord(a[i]) <=90:
        upper+=1
print("lower ",lower,"Upper ",upper)

Enter value:Abc
lower  2 Upper  1

In [81]:
int("S")

ValueError: invalid literal for int() with base 10: 'S'

In [ ]:
Question-6
You are given a list of numbers between 1 and 256.
Generate a string from the char values of these numbers
Input:
[65, 97, 68]
Output:
AaD

In [84]:
s=''
for i in [65, 97, 68]:
    char =chr(i)
    s = s+char
print(s)

AaD

In [86]:
lst = [65, 97, 68]
for i in (lst):
    #print(i)
    char = chr(i)
    print(char)

A
a
D

In [88]:
def convert(number):
    str1=''
    for i in range(len(number)):
        a=number[i]
        res=chr(a)
        str1=str1+res
    return (str1)
convert([65, 97, 68])

'AaD'

In [87]:
str(1)

'1'

In [ ]:
Question-7
Given a string of comma separated values.
Convert it into a string of individual values.

In [89]:
a  = input()
print(a)

56,78,99,101
56,78,99,101

In [ ]:
for i in a:
    #very tough

In [ ]:
STRR to list

In [90]:
a.split(",")

['56', '78', '99', '101']

In [92]:
for i in a.split(","):
    print(chr(int(i)))

8
N
c
e

In [93]:
"AALCLLIA".split("L")

['AA', 'C', '', 'IA']

In [94]:
"AALCLLIA".split(" ")

['AALCLLIA']

In [98]:
a ="Gajodhar"
j = list(reversed(a))
j

['r', 'a', 'h', 'd', 'o', 'j', 'a', 'G']

In [97]:
#join(what i need to join)
#join(l)
"*".join(j)

'r*a*h*d*o*j*a*G'

In [100]:
"".join(j)

'rahdojaG'

In [104]:
a = ['1','2','3','4']
"-".join(a)

'1-2-3-4'

join - list to str
slpit -str to list

In [105]:
"Yogesh Yogi".split(" ")

['Yogesh', 'Yogi']

In [109]:
#How to take input and convert that into list where the input has new line Example
a = '''[1,2,3]
[4,5,6]
[7,8,9]'''

In [108]:
a

'[1,2,3]\n[4,5,6]\n[7,8,9}'

In [110]:
a.split("\n")

['[1,2,3]', '[4,5,6]', '[7,8,9]']

In [112]:
import ast
ast.literal_eval('[1,2,3]')

[1, 2, 3]

In [113]:
list('[1,2,3]')

['[', '1', ',', '2', ',', '3', ']']

In [114]:
a = input()

12,45,6732,23,2

In [115]:
a

'12,45,6732,23,2'

In [116]:
a.split(",")

['12', '45', '6732', '23', '2']

In [ ]:
if we give space inside ""
that would also be considered as char??
You
To: Everyone
11:10 PM
if i in lst: means if i value is in the list then we enter the loop ??

In [117]:
ord(" ")

32

In [119]:
"C" in ["A","B","L"]

False

In [ ]:
for i in ["A","B","L"]:
    if i

In [120]:
a = [[],[],[]]

In [121]:
a

[[], [], []]

In [ ]:
lst = [65, 97, 68]
for i in (lst):
    #print(i)
    char = chr(i)
    print(char)

In [126]:
v = lambda x :[chr(i)  for i in x]

In [124]:
v([65, 97, 68])

['A', 'a', 'D']

In [ ]:
Problem Description
You are given a N X N integer matrix. You have to find the sum of all the main diagonal 
elements of A.

Main diagonal of a matrix A is a collection of elements A[i, j] such that i = j.


Problem Constraints
1 <= N <= 103

-1000 <= A[i][j] <= 1000



Input Format
There are 1 lines in the input. 
First 2 integers R, C are the number of rows and columns. 
Then R * C integers follow corresponding to the rowwise numbers in the 2D array A.



Output Format
Return an integer denoting the sum of main diagonal elements.

In [ ]:
Example Input
Input 1:

3 3 1 -2 -3 -4 5 -6 -7 -8 9
Input 2:

2 2 3 2 2 3

In [ ]:
There is one assignment question Which i did not understand at all
can you explain the logic its more related to maths It says,

Given an integer A, and two integers B and C in base A.
Perform the addition of B and C in base A and return the result in base A. Sample Input:
A = 3
B = 11
C = 10 Sample Ouput:
21

In [ ]:
After executing the code below the given word gets converted 
into a list of individual characters of the word called word_list, indexing on which elements of the list word_list would give us a sublist that forms the word "Data Science"?

word = "Scaler Data Science Course"
word_list = list(word)

In [ ]:
Beginner : Problem Solving 3
Base Conversion 
2