Q1: Given an Input Integer N, Create a list containing all the numbers between 1 to N

Ex:
N =3
output = [1,2,3]

In [2]:
N=3
n = []
for i in range(1,N+1):
    n.append(i)
n

[1, 2, 3]

Q2: Given an Input Integer N, Create a list containing all the Square of numbers between 1 to N

Ex:
N = 3
output = [1,4,9]

In [3]:
N=3
n = []
for i in range(1,N+1):
    n.append(i**2)
n

[1, 4, 9]

Q3: Given an Input Integer N, Create a list containing all the Even numbers between 1 to N

Ex:
N = 5
output = [2,4]

In [5]:
N=5
n = []
for i in range(1,N+1):
    if i %2==0:
        n.append(i)
n

[2, 4]

Q4: Given an input list of N numbers, Create a new tuple of Size N containing "Even" or "Odd"

Ex:
input = [1,3,4,2,5]
output = ("Odd","Odd","Even","Even","Odd")

In [7]:
N = [1,3,4,2,5]
a=[]
for i in N:
    if i%2==0:
        a.append("Even")
    else:
        a.append("Odd")
tuple(a)

('Odd', 'Odd', 'Even', 'Even', 'Odd')

In [10]:
name = "AKASH"

In [11]:
name[0] = "H"

TypeError: 'str' object does not support item assignment

In [12]:
t =(1,2,3)
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [13]:
name = "AKASH"
name[0] = "AKASH RAJPURIA"

TypeError: 'str' object does not support item assignment

In [14]:
name + "RAJPURIA"

'AKASHRAJPURIA'

In [ ]:
name = name + "RAJPURIA"

In [18]:
N = [1,3,4,2,5]
a=()
for i in N:
    if i%2==0:
        a = a+("Even",)
    else:
        a = a+("Odd",)
a

('Odd', 'Odd', 'Even', 'Even', 'Odd')

In [19]:
(1,2,3)

(1, 2, 3)

In [21]:
(1,2,3) +("abhishek",)

(1, 2, 3, 'abhishek')

Q5: Given an input list of N student, 
Create a new List containing length of Name of each Student
```
Ex:
students = ["Mohan","Jag", "Ramanna"]
Output=[5,3,7]

In [23]:
students = ["Mohan","Jag", "Ramanna"]
Output=[]
for i in students:
    Output.append(len(i))
Output

[5, 3, 7]

Q6: Given an input list of N numbers and N student, Create a new dictionary of Size N containing Name of Student as Key and Number as Values
```
Ex:
students = ["Mohan","Jagan", "Raman"]
Marks = [20,30,10]
output:
{"Mohan":20, "Jagan":30, "Raman":10}

In [29]:
students = ["Mohan","Jagan", "Raman"]
Marks = [20,30,10]
d= {}
for i in range(len(students)):#0,1,2
    #print(students[i],Marks[i])
    d[students[i]]=Marks[i]
d

{'Mohan': 20, 'Jagan': 30, 'Raman': 10}