In [ ]:
MD - Mediator  - Alok distributes the choc

In [2]:
alok = [1,2,3,4,5,6,7]

In [3]:
for abdul in alok:
    print(abdul)

1
2
3
4
5
6
7

In [4]:
start = 1
while start<=7:
    print(start)
    start +=1

1
2
3
4
5
6
7

In [7]:
for i in [1,2,3,4,5,6,7]:
    print(i)
    print("Daning for ")

1
Daning for
2
Daning for
3
Daning for
4
Daning for
5
Daning for
6
Daning for
7
Daning for

In [8]:
repeat = 100
for i in range(1,repeat):
    print("I will not talk in class")

I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class
I will not talk in class

In [9]:
range(1,8)# range object

range(1, 8)

In [10]:
list(range(1,8))

[1, 2, 3, 4, 5, 6, 7]

In [11]:
perumal =25

In [14]:
list(range(5))

[0, 1, 2, 3, 4]

In [15]:
range[1,8]

TypeError: 'type' object is not subscriptable

In [16]:
list(range(2,10))

[2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
list(range(7,8))

[7]

In [18]:
list(range(8,8))

[]

In [ ]:
means end value is exclusive, it is not included in the list always/

In [19]:
list(range(-1,3))

[-1, 0, 1, 2]

In [20]:
list(range(-1,-9))

[]

In [21]:
list(range(-111,-9099999))

[]

In [22]:
list(range(-9,-1))

[-9, -8, -7, -6, -5, -4, -3, -2]

In [23]:
list(range(-9,-1,2))

[-9, -7, -5, -3]

In [ ]:
range(start,end,jump)

In [24]:
print(list(range(2,10,2)))

[2, 4, 6, 8]

# negative

In [25]:
list(range(-1,-9,-1))

[-1, -2, -3, -4, -5, -6, -7, -8]

In [26]:
list(range(2,10,-2))#incoorect

[]

In [27]:
print(list(range(8,8,-1)))

[]

In [28]:
print(list(range(2,5,10)))#correct

[2]

In [29]:
print(list(range(5,-10,-2)))

[5, 3, 1, -1, -3, -5, -7, -9]

GOt confusion, Why list(range(-1,-9,-1)) worked its in right side but when list(range(-1,-9)) it did not work

In [ ]:
range(9,15,6) will not be null and it will be [9]?

In [30]:
list(range(9,15,6))

[9]

# **Question**: Print all numbers from 1 to N using a for loop.

In [31]:
N = int(input("Your number : "))
for i in range(1,N):
    print(i)

Your number : 10
1
2
3
4
5
6
7
8
9

In [32]:
N = int(input("Your number : "))
for i in range(1,N+1):
    print(i)

Your number : 10
1
2
3
4
5
6
7
8
9
10

In [ ]:
#100 write 100 you will not talk in class

In [34]:
for i in range(100):
    print("I will not talk in class",i)

I will not talk in class 0
I will not talk in class 1
I will not talk in class 2
I will not talk in class 3
I will not talk in class 4
I will not talk in class 5
I will not talk in class 6
I will not talk in class 7
I will not talk in class 8
I will not talk in class 9
I will not talk in class 10
I will not talk in class 11
I will not talk in class 12
I will not talk in class 13
I will not talk in class 14
I will not talk in class 15
I will not talk in class 16
I will not talk in class 17
I will not talk in class 18
I will not talk in class 19
I will not talk in class 20
I will not talk in class 21
I will not talk in class 22
I will not talk in class 23
I will not talk in class 24
I will not talk in class 25
I will not talk in class 26
I will not talk in class 27
I will not talk in class 28
I will not talk in class 29
I will not talk in class 30
I will not talk in class 31
I will not talk in class 32
I will not talk in class 33
I will not talk in class 34
I will not talk in class 35
I will not talk in class 36
I will not talk in class 37
I will not talk in class 38
I will not talk in class 39
I will not talk in class 40
I will not talk in class 41
I will not talk in class 42
I will not talk in class 43
I will not talk in class 44
I will not talk in class 45
I will not talk in class 46
I will not talk in class 47
I will not talk in class 48
I will not talk in class 49
I will not talk in class 50
I will not talk in class 51
I will not talk in class 52
I will not talk in class 53
I will not talk in class 54
I will not talk in class 55
I will not talk in class 56
I will not talk in class 57
I will not talk in class 58
I will not talk in class 59
I will not talk in class 60
I will not talk in class 61
I will not talk in class 62
I will not talk in class 63
I will not talk in class 64
I will not talk in class 65
I will not talk in class 66
I will not talk in class 67
I will not talk in class 68
I will not talk in class 69
I will not talk in class 70
I will not talk in class 71
I will not talk in class 72
I will not talk in class 73
I will not talk in class 74
I will not talk in class 75
I will not talk in class 76
I will not talk in class 77
I will not talk in class 78
I will not talk in class 79
I will not talk in class 80
I will not talk in class 81
I will not talk in class 82
I will not talk in class 83
I will not talk in class 84
I will not talk in class 85
I will not talk in class 86
I will not talk in class 87
I will not talk in class 88
I will not talk in class 89
I will not talk in class 90
I will not talk in class 91
I will not talk in class 92
I will not talk in class 93
I will not talk in class 94
I will not talk in class 95
I will not talk in class 96
I will not talk in class 97
I will not talk in class 98
I will not talk in class 99

In [ ]:
##**Question**: Calculate sum of all numbers  till n
n= 6 - -21

In [39]:
n = 6
total = 0
for i in range(1,n+1):
    total = total+i
    print(total)

1
3
6
10
15
21

## **Question**: Print all numbers from an input N to 1 where N > 1.

In [42]:
N = int(input("Enter the number "))
for i in range(N,0,-1):
    print(i)

Enter the number 19
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [43]:
N = int(input("Enter the number "))
for i in range(N,0,-1):
    print(i)

Enter the number -7

Print all numbers from an input N to 1 where N > 1 using for loop.SOLVE THIS WITHOUT USING A NEGATIVE JUMP!

In [44]:
N = int(input("Enter the number "))
for i in range(1,N+1):
    print(N-i+1)

Enter the number 10
10
9
8
7
6
5
4
3
2
1

In [45]:
n = 6
i=1
total=0
while i<=n :
    total = total+i
    i+=1
print(total)

21

In [47]:
n = 12311
total=0
while n :
    remindedr = n%10
    n =n//10
    total = total+remindedr
print(total)

8