# Q

In [ ]:
# 1 n= 
" * * * *
  * * * *
  * * * * 
  * * * *"

In [1]:
n = int(input("Enter the N value "))
for i in range(n):
    print("*")

Enter the N value 3
*
*
*

In [2]:
"Shutup..!"*5

'Shutup..!Shutup..!Shutup..!Shutup..!Shutup..!'

In [4]:
"* "*3

'* * * '

In [7]:
n = int(input("Enter the N value "))
for i in range(n):
    print("* "*n)

Enter the N value 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [8]:
n = int(input("Enter the N value "))
for i in range(n):
    for j in range(n):
        print("*")

Enter the N value 3
*
*
*
*
*
*
*
*
*

In [12]:
print("Hello")
print("World")

Hello
World

In [13]:
print("Hello",end=" ")
print("World")

Hello World

In [14]:
n = int(input("Enter the N value "))
for i in range(n):
    for j in range(n):
        print("*", end=" ")

Enter the N value 5
* * * * * * * * * * * * * * * * * * * * * * * * *

In [10]:
n = int(input("Enter the N value "))
for i in range(n): #rows
    for j in range(n):#columns
        print("*",end =" ")
    print(end = "\n")
    #print()

Enter the N value 5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
# 1 n= 4
" 1 1 1 1
  2 2 2 2
  3 3 3 3 
  4 4 4 4"

In [16]:
n = int(input("Enter the N value "))
for i in range(n): #rows 01,2,3,4
    for j in range(n):#columns
        print(i+1,end =" ")
    print(end = "\n")
    #print()

Enter the N value 5
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4
5 5 5 5 5

In [ ]:
# 1 n= 4
" *
  * *
  * * * 
  * * * *"

In [17]:
n = int(input("Enter the N value "))
for i in range(n): #rows
    for j in range(i+1):#columns
        print("*",end =" ")
    print(end = "\n")
    #print()

Enter the N value 5
*
* *
* * *
* * * *
* * * * *

In [ ]:
*
*2
*2*
*2*4
*2*4*
*2*4*6
*2*4*6*
*2*4*6*8
*2*4*6*8*
*2*4*6*8*10

In [20]:
n = int(input("Enter the N value "))
for i in range(n): #rows
    for j in range(i+1):#columns
        if j%2==0:#even
            print(j,end =" ")
        else:
            print("*",end=" ")
    print(end = "\n")
    #print()

Enter the N value 10
0
0 *
0 * 2
0 * 2 *
0 * 2 * 4
0 * 2 * 4 *
0 * 2 * 4 * 6
0 * 2 * 4 * 6 *
0 * 2 * 4 * 6 * 8
0 * 2 * 4 * 6 * 8 *

In [24]:
n = int(input("Enter the N value "))
for i in range(1,n+1): #rows
    for j in range(1,i+1):#columns
        if j%2==0:#even
            print(j,end ="")
        else:
            print("*",end="")
    print(end = "\n")
    #print()

Enter the N value 10
*
*2
*2*
*2*4
*2*4*
*2*4*6
*2*4*6*
*2*4*6*8
*2*4*6*8*
*2*4*6*8*10

In [ ]:
*
*2
*2*
*2*4
*2*4*
*2*4*6
*2*4*6*
*2*4*6*8
*2*4*6*8*
*2*4*6*8*10

In [ ]:
## **Question-2: Print the following pattern**

```
1
12
123
1234
12345
```

In [29]:
n = int(input("Enter the N value "))
for i in range(n): #rows
    for j in range(1,i+1+1):#columns
        print(j,end =" ")
    print(end = "\n")
    #print()

Enter the N value 6
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5 6

In [ ]:
*****
****
***
**
*

In [31]:
n = int(input("Enter the N value "))
for i in range(n):
    for j in range(n-i):
        print("*",end=" ")
    print("\n")

Enter the N value 10
* * * * * * * * * *

* * * * * * * * *

* * * * * * * *

* * * * * * *

* * * * * *

* * * * *

* * * *

* * *

* *

*

In [ ]:
    *
   **
  ***
 ****
*****

In [36]:
n = int(input("Enter the N value "))
for i in range(n):
    for j in range(n-i-1): #no of spaces - n-i-1
        print(" ",end="")
        
    for k in range(i+1):# no of stars
        print("*",end="")
    print("\n")

Enter the N value 5
    *

   **

  ***

 ****

*****

In [ ]:
7777777
7666667
7655567
7654567
7655567
7666667
7777777

In [38]:
n = int(input("Enter the N value "))
for i in range(n): #rows
    for j in range(n):#columns
        print(max(i,j,n-i-1,n-j-1)+1,end =" ")
    print(end = "\n")
    #print()

Enter the N value 7
7 7 7 7 7 7 7
7 6 6 6 6 6 7
7 6 5 5 5 6 7
7 6 5 4 5 6 7
7 6 5 5 5 6 7
7 6 6 6 6 6 7
7 7 7 7 7 7 7

In [ ]:
https://www.anaconda.com/download#downloads

In [ ]:
Hello,
Python Learners
From Our last Session here are some more coding practice questions specifically focused on using the `break`, `continue`, and `pass` statements in Python:
Question 1:
Write a Python program that prompts the user to enter a series of numbers. The program should keep accepting numbers until the user enters a negative number. Once a negative number is entered, the program should calculate and display the sum of all the positive numbers entered. Use the `break` statement to exit the loop when a negative number is encountered.
Question 2:
Write a Python program that prints the first 10 even numbers using a `for` loop. However, if the number is divisible by 6, skip that number using the `continue` statement.
Question 3:
Write a Python program that prints the numbers from 1 to 20, but for multiples of 5, print "Fizz" instead of the number. For multiples of 7, print "Buzz". For numbers that are multiples of both 5 and 7, print "FizzBuzz". Use the `continue` statement to skip the iteration for other numbers.
Question 4:
Write a Python program that prints all prime numbers between 1 and 100. Use a `for` loop and the `pass` statement to implement the prime number checking logic.
Question 5:
Write a Python program that asks the user to enter a series of words. The program should keep accepting words until the user enters the word "quit". Once the user enters "quit", the program should print all the words entered before "quit" and exit the loop. Use the `break` statement to terminate the loop.