In [1]:
# 1st
print("Dust all the rooms")
print("Arrange the living area")
print("Go and get cold drink and mixtures!")
print("Don't misbehae in front of the guests!")
print("Touch feet when you greet them!")

Dust all the rooms
Arrange the living area
Go and get cold drink and mixtures!
Don't misbehae in front of the guests!
Touch feet when you greet them!

In [3]:
# 2nd
print("Dust all the rooms")
print("Arrange the living area")
print("Go and get cold drink and mixtures!")
print("Don't misbehae in front of the guests!")
print("Touch feet when you greet them!")

Dust all the rooms
Arrange the living area
Go and get cold drink and mixtures!
Don't misbehae in front of the guests!
Touch feet when you greet them!

In [ ]:
#resuse of code

In [4]:
def guest():#paper
    print("Dust all the rooms")
    print("Arrange the living area")
    print("Go and get cold drink and mixtures!")
    print("Don't misbehae in front of the guests!")
    print("Touch feet when you greet them!")

In [5]:
guest()#calling the function

Dust all the rooms
Arrange the living area
Go and get cold drink and mixtures!
Don't misbehae in front of the guests!
Touch feet when you greet them!

In [6]:
 guest()

Dust all the rooms
Arrange the living area
Go and get cold drink and mixtures!
Don't misbehae in front of the guests!
Touch feet when you greet them!

In [7]:
 guest()

Dust all the rooms
Arrange the living area
Go and get cold drink and mixtures!
Don't misbehae in front of the guests!
Touch feet when you greet them!

In [8]:
 guest()

Dust all the rooms
Arrange the living area
Go and get cold drink and mixtures!
Don't misbehae in front of the guests!
Touch feet when you greet them!

In [ ]:
#make tea 10 times

In [9]:
def tea():
    print("I am making a tea")

In [10]:
for i in range(10):
    tea()

I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea

In [11]:
def tea():
    for i in range(10):
        print("I am making a tea")

In [12]:
tea()

I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea

In [13]:
tea()

I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea
I am making a tea

In [15]:
sum([1,2])

3

In [16]:
len("AKASH")

5

In [18]:
min(1,2,132,2345,36),max(345,.345,345,34,5345,)

(1, 5345)

In [ ]:
# python - Inbuilt Funtions

In [ ]:
 - sum
 - print
 - min
 - max

### Explaining functions that can take parameters

In [19]:
def Welcome():
    print("Welcome yogesh to the session")
    print("This is Friday Night with AKASH")

In [20]:
Welcome()

Welcome yogesh to the session
This is Friday Night with AKASH

In [21]:
# paramters/arguments - input to your function
# paramters/arguments - name
def Welcome(name):
    print("Welcome",name,"to the session")
    print("This is Friday Night with AKASH")

In [22]:
Welcome("perumal")

Welcome perumal to the session
This is Friday Night with AKASH

In [23]:
Welcome("Bharti")

Welcome Bharti to the session
This is Friday Night with AKASH

# QuestionÂ¶
Take a name as input. Write a greeter function which prints "Hello {name}!" after accepting a name as an argument

In [24]:
def greet(n):
    print("Hello",n)

In [25]:
name = input("Enter your name")
greet(name)

Enter your namedinesh
Hello dinesh

#####**Functions that can take multiple inputs**
**Explaining:**
1. Positional mapping of arguments
2. Errors that can occour if some argument is missing.

In [31]:
def intro(name,age,gender,hobby):
    print("My name is",name)
    print("Age is",age)
    print("My gender is",gender)
    print("I love to play",hobby)

In [32]:
intro("gaju",78,"Male","Swimming")

My name is gaju
Age is 78
My gender is Male
I love to play Swimming

In [33]:
intro("gaju",78,"Male","Swimming","Shaiktan gali adhnere nagar")

TypeError: intro() takes 4 positional arguments but 5 were given

In [34]:
intro("gaju",78,"Male")

TypeError: intro() missing 1 required positional argument: 'hobby'

# Doc Strings
#Document String

In [35]:
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

In [36]:
help(range)

Help on class range in module builtins:

class range(object)
 |  range(stop) -> range object
 |  range(start, stop[, step]) -> range object
 |
 |  Return an object that produces a sequence of integers from start (inclusive)
 |  to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
 |  start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
 |  These are exactly the valid indices for a list of 4 elements.
 |  When step is given, it specifies the increment (or decrement).
 |
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __reduce__(...)
 |      Helper for pickle.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(...)
 |      Return a reverse iterator.
 |
 |  count(...)
 |      rangeobject.count(value) -> integer -- return number of occurrences of value
 |
 |  index(...)
 |      rangeobject.index(value) -> integer -- return index of value.
 |      Raise ValueError if the value is not present.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  start
 |
 |  step
 |
 |  stop

In [38]:
help(tea)

Help on function tea in module __main__:

tea()

In [39]:
help(intro)

Help on function intro in module __main__:

intro(name, age, gender, hobby)

In [52]:
def random(a,b):
    #Naveen
    '''
    This function takes excatly 2 arguments and it adds them
    Input a : str,int,float
    Inbut b : str,int,float
    But make sure that both the data types are same
    '''
    #naveen
    print(a+b)#naveen

In [53]:
random(4,5)

9

In [54]:
random(10,5)

15

In [55]:
random("yogesh","botre")

yogeshbotre

In [56]:
random(3,"stwik")

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [57]:
help(random)

Help on function random in module __main__:

random(a, b)
    This function takes excatly 2 arguments and it adds them
    Input a : str,int,float
    Inbut b : str,int,float
    But make sure that both the data types are same

In [58]:
#excerise

In [ ]:
#multiply three num in a function and write a doc string for it

In [59]:
def mulitp(a,b,c):
    """
    This function excatly mutiply three numbers
    """
    print(a*b*c)

In [60]:
mulitp(2,3,5)

30

In [ ]:
def mulitp(a,b):
    """
    This function excatly mutiply two numbers
    """
    print(a*b)

In [61]:
n=5
n=7
print(n)

7

In [ ]:
# Excerise
#creata function to cacl square and STORE the results

In [62]:
def square(n):
    sq = n**2
    print(sq)

In [63]:
square(7)

49

In [64]:
a = square(7)

49

In [65]:
print(a)

None

In [66]:
print(sq)

NameError: name 'sq' is not defined

In [1]:
b=189
def check(n):
    a =76
    n=89

In [5]:
check(100)

In [6]:
print(a)

NameError: name 'a' is not defined

In [7]:
print(n)

NameError: name 'n' is not defined

In [8]:
print(b)

189

# Return

In [9]:
def square(n):
    sq = n**2

    return sq #it reurns the value which is inside the function

In [10]:
square(7)

49

In [11]:
a = square(7)

In [12]:
a

49

In [13]:
# Enterprise email
def useremail(empname):
    return empname+"@amazon.com"

In [14]:
useremail("gaju")

'gaju@amazon.com'

In [15]:
useremail("mahesh")

'mahesh@amazon.com'

In [16]:
a = useremail("mahesh")

In [17]:
a

'mahesh@amazon.com'

In [19]:
len("AK ")

3

**A function execution gets over the second we return from it.**

In [21]:
def username(empname):
    return(empname+"@amazon.com")#nd
    print("Weclome ",empname,"to the company")

In [22]:
username("manan")

'manan@amazon.com'

In [23]:
def username(empname):
    print("Weclome ",empname,"to the company")
    return(empname+"@amazon.com")#nd

In [24]:
username("manan")

Weclome  manan to the company

'manan@amazon.com'

# Quiz

In [ ]:
What will be the output of the following code?

def do_something(n):
    total = 0
    i = 1
    while i <= n:
        total += i
        i += 1
    return total

print(do_something(5))
a) 5

b) 10

c) 15

d) 25

In [25]:
def do_something(n):
    total = 0
    i = 1
    while i <= n:
        total += i
        i += 1
    return total

print(do_something(5))

15

In [ ]:
def factorial(n):
    result = 1
    while n > 0:
        result *= n
        n -= 1

print(factorial(5))
a) None

b) 120

c) 150

d) 20

In [26]:
def factorial(n):
    result = 1
    while n > 0:
        result *= n
        n -= 1

print(factorial(5))

None

In [28]:
def factorial(n):
    result = 1
    while n > 0:
        result *= n
        n -= 1
    return result
print(factorial(5))

120

In [29]:
a = "hello"
b = "Chalo"
def name(a,b):
    print(a,b)
name(b,a)

Chalo hello

In [ ]:
a = "hello"
b = "Chalo"
def name(c,d="kkk"):
    print(c,d)
name(b,a)

In [ ]:
#dsml-june-23-beginner-w-o-sql-tableau-batch

In [32]:
def make_tea1():
    print("Making")
    
    
    
for i in range(1,11):
    print(make_tea1())

Making
None
Making
None
Making
None
Making
None
Making
None
Making
None
Making
None
Making
None
Making
None
Making
None

In [34]:
def make_tea1():
    print("Making")
    
    
    
for i in range(1,11):
    make_tea1()

Making
Making
Making
Making
Making
Making
Making
Making
Making
Making

In [33]:
def make_tea1():
    print("Making")
    return "Dancing"
    
    
for i in range(1,11):
    print(make_tea1())

Making
Dancing
Making
Dancing
Making
Dancing
Making
Dancing
Making
Dancing
Making
Dancing
Making
Dancing
Making
Dancing
Making
Dancing
Making
Dancing

In [36]:
n=8
while n>=0:
   print(n)
   n -= 2
   if n%2==0:
       continue
   print(n, end=" ")
else:
   print("Exec", end=" ")

8
6
4
2
0
Exec

In [37]:
n=8
while n>=0:
   print(n)
   n -= 2
   if n%2==0:
       continue
   print(n, end=" ")
else:
   print("Exec", end=" ")

8

In [43]:
def maketea():
    return "making" 
for i in range(10):
    maketea()

In [41]:
def maketea():
    return "making" 
maketea()
for i in range(10):
    print(maketea(),i)

making 0
making 1
making 2
making 3
making 4
making 5
making 6
making 7
making 8
making 9

In [42]:
def maketea():
    return "making" 
maketea()

'making'