In [1]:
class A:
  pass

a1=A()

In [ ]:
## Class variables -> shared across all instance
class A:
  var1="Value1"


a1=A()

## instance variable-> only for given instance

a1.var2="Value"

In [ ]:
class A:
  var1="Value1"
  def Random(self):
    print("hello")
a1=A()

a1.Random()

In [ ]:
A.Random(a1)

In [ ]:
## init method ??
## special method -> that get triggers everytime a instance is created

In [2]:
class A:
  var1="Value1"
  def __init__(self):
    print("welcome")
  def Random(self):
    print("hello")
a1=A()

welcome

In [3]:
a2=A()

welcome

In [4]:
class A:
  var1="Value1"
  def __init__(self,name,age):
    self.name=name
    self.age=age
    print("welcome")
  def Random(self):
    print("hello")
a1=A("Archit",26)

welcome

In [5]:
a1.name

'Archit'

In [ ]:
a1.name="Archit"
a1.age=26
a1.address="Bangalore"

In [ ]:
class A:
  var1="Value1"
  def __init__(self):
    print("welcome")
  def Random(self):
    print("hello")
a1=A()
a1.name="Archit"
a1.age=26


a1=A()
a1.name="Archit"
a1.age=26



a1=A()
a1.name="Archit"
a1.age=26


a1=A()
a1.name="Archit"
a1.age=26

In [7]:
class A:
  var1="Value1"
  def __init__(self,name,age):
    self.name=name
    self.age=age
    print("welcome",self.name,12)
  def Random(self):
    print("hello")
a1=A("Archit",26)
a1=A("Archit",26)
a1=A("Archit",26)
a1=A("Archit",26)

welcome Archit 12
welcome Archit 12
welcome Archit 12
welcome Archit 12

In [ ]:
class A:
  var1="Value1"
  def __init__(self,name,age):
    self.name=name
    self.age=age
    print("welcome",self.name,12)
  def Random(self):
    print("hello")
a1=A("Archit",26)

In [9]:
class A:
  var1="Value1"
  def __init__(self,name,age):
    self.name=name
    self.age=age
    print("welcome",self.name,12)
  def Random(self):
    print("hello")
a1=A("Archit",26)

In [9]:
__main__

In [ ]:
## some special functions inside python

## these functions can be modified by the coders

## magic method or dunders

In [ ]:
dir()

In [21]:
## dunder methods will be available inside a class scope



class Car:
  def __init__(self,name,mileage):
    self.name=name
    self.mileage=mileage

  def __add__(self,other):
    return self.name+str(self.mileage)+other.name+str(other.mileage)

  def __lt__(self,other):
    return self.mileage < other.mileage

  def __gt__(self,other):
    return self.mileage < other.mileage


c1=Car("Nexon",12)
c2=Car("Hector",15)

In [17]:
c1+c2

'Nexon12Hector15'

In [19]:
c1<c2

True

In [22]:
c1

In [48]:
class Truck:
  def __init__(self,name,mileage):
    self.name=name
    self.mileage=mileage

  def __add__(self,other):
    # check type of other
    if type(other)==str:
      return self.name+str(self.mileage)+other
    if type(self)==str:
      return self+other.name+str(other.mileage)
    return self.name+str(self.mileage)+other.name+str(other.mileage)

class Car:
  def __init__(self,name,mileage):
    self.name=name
    self.mileage=mileage

  def __add__(self,other):
    # check type of other
    if type(other)==str:
      return self.name+str(self.mileage)+other
    if type(self)==str:
      return self+other.name+str(other.mileage)
    return self.name+str(self.mileage)+other.name+str(other.mileage)

  def __radd__(self,other):
    # check type of other
    if type(other)==str:
      return self.name+str(self.mileage)+other
    return self.name+str(self.mileage)+other.name+str(other.mileage)

c1=Car("Nexon",12)
c2=Car("Hector",15)
c3=Car("DZire",21)
c4=Car("Skoda",18)
t1=Truck("toyoto",28)

In [49]:
c1+(c2+c3)

'Nexon12Hector15DZire21'

In [51]:
c1+c2+c3

'DZire21Nexon12Hector15'

In [ ]:
c1+c2+c3

In [58]:
class Car:
  def __init__(self,name,mileage):
    self.name=name
    self.mileage=mileage

  def __add__(self,other):
    # check type of other
    if type(other)==str:
      return self.name+str(self.mileage)+other
    if type(self)==str:
      return self+other.name+str(other.mileage)
    return self.name+str(self.mileage)+other.name+str(other.mileage)

c1=Car("Nexon",12)
c2=Car("Hector",15)
c3=Car("DZire",21)
c4=Car("Skoda",18)

In [59]:
c1+"random"

'Nexon12random'

In [60]:
"random"+c1

TypeError: can only concatenate str (not "Car") to str

In [61]:
class Car:
  def __init__(self,name,mileage):
    self.name=name
    self.mileage=mileage

  def __add__(self,other):
    # check type of other
    if type(other)==str:
      return self.name+str(self.mileage)+other
    return self.name+str(self.mileage)+other.name+str(other.mileage)

  def __radd__(self,other):
    # check type of other
    if type(other)==str:
      return self.name+str(self.mileage)+other
    return self.name+str(self.mileage)+other.name+str(other.mileage)

c1=Car("Nexon",12)
c2=Car("Hector",15)
c3=Car("DZire",21)
c4=Car("Skoda",18)
t1=Truck("toyoto",28)


c1+"random"

'Nexon12random'

In [62]:
1+"random"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [73]:
class Vehicle:
  type="transport"
  city="Bangalore"
  def __init__(self):
    print("this is vehicle")

  def hello_v(self):
    print("hello from the parent")

class Car(Vehicle):
  wheels=4
  def __init__(self):
    print("this is car")
  def hello_c(self):
    print("hello from the child")

v1=Vehicle()

this is vehicle

In [76]:
c1=Car()
c1.type

this is car

'transport'

In [75]:
c1.hello_v()

hello from the parent

In [68]:
c1.wheels

4

In [69]:
c1.type

'transport'

In [77]:
## all variables inside parent class is available to the child
c1.hello_c()

hello from the child

In [78]:
## can a child function be called from the parent class??

v1.hello_c()

AttributeError: 'Vehicle' object has no attribute 'hello_c'

In [83]:
class Vehicle:
  type="transport"
  city="Bangalore"
  def __init__(self):
    print("this is vehicle")
  def hello(self):
    print("hello from the parent")

class Car(Vehicle):
  wheels=4
  type="car transport"
  def __init__(self):
    print("this is car")
  def hello(self):
    print("hello from the child")

In [84]:
## if same name variable are present in parent and child, child take the prefernce
c1=Car()
c1.type

this is car

'car transport'

In [85]:
c1.hello()

hello from the child

In [86]:
class Vehicle:
  type="transport"
  city="Bangalore"
  def __init__(self):
    print("this is vehicle")
  def hello(self):
    print("hello from the parent")

class Car(Vehicle):
  wheels=4
  type="car transport"
  def hello(self):
    print("hello from the child")

c1=Car()

this is vehicle

In [ ]:
## inherit from multiple places
## only some variabes to be accessed
## how to access parent class variable from the child

In [90]:
## how to access parent class variable from the child
class Vehicle:
  type="transport"
  city="Bangalore"
  def __init__(self):
    print("this is vehicle")
  def hello(self):
    print("hello from the parent")

class Car(Vehicle):
  wheels=4
  type="car transport"
  def hello(self):
    print(self.city)
    print(self.type)
    print(super().type) ## immediate parent
    print(super().hello())
    print("hello from the child")

c1=Car()
c1.hello()

this is vehicle
Bangalore
car transport
transport
hello from the parent
None
hello from the child

In [95]:
## how to access parent class variable from the child
class Vehicle:
  type="transport"
  city="Bangalore"
  def __init__(self):
    print("this is vehicle")

class Car(Vehicle):
  wheels=4
  def __init__(self):
    super().__init__()
    print("this is car")
c1=Car()

this is vehicle
this is car

In [100]:
class Vehicle:
  type="transport"
  city="Bangalore"
  def __init__(self):
    print("vehicle",id(self))
    print("this is vehicle")

class Car(Vehicle):
  wheels=4
  def __init__(self):
    print("car",id(self))
    super().__init__()
    print("this is car")

class Sedan(Car):
  type="luxury"
  def __init__(self):
    print("sedan",id(self))
    super().__init__()
    print("this is sedan")

s1=Sedan()

sedan 133893021756400
car 133893021756400
vehicle 133893021756400
this is vehicle
this is car
this is sedan

In [97]:
s1.type

'luxury'

In [101]:
class Vehicle:
  def __init__(self,transmission):
    self.transmission=transmission
class Car(Vehicle):
  wheels=4
  def __init__(self,brand,transmission):
    self.brand=brand
    super().__init__(transmission)

class Sedan(Car):
  type="luxury"
  def __init__(self,brand,transmission,model):
    self.model=model
    super().__init__(brand,transmission)

s1=Sedan("suzuki","automatic","DZire")

In [102]:
s1.brand

'suzuki'

In [103]:
### we do a practical
## how about creating a banking system

class BankAccount:
  def __init__(self,balance):
    self.balance=balance
  def deposit(self,amount):
    self.balance+=amount
  def withdraw(self,amount):
    self.balance-=amount

In [104]:
b1=BankAccount(5000)

In [105]:
b1.balance

5000

In [106]:
b1.deposit(10000)
b1.balance

15000

In [107]:
b1.withdraw(5000)
b1.balance

10000

In [ ]:
b1.balance=124234628031745239845

## how to avoid this

In [116]:
class BankAccount:
  def __init__(self,balance):
    self.__balance=balance
    self.__test=100
  def deposit(self,amount):
    self.__balance+=amount
  def withdraw(self,amount):
    self.__balance-=amount
## getter
  def check_balance(self):
    return self.__balance
b1=BankAccount(5000)
b1.__balance

AttributeError: 'BankAccount' object has no attribute '__balance'

In [117]:
b1.check_balance()

5000

In [118]:
b1.deposit(5000)
b1.check_balance()

10000

In [119]:
# b1.__balance


b1._BankAccount__balance=31849134863184

In [120]:
b1.check_balance()

31849134863184

In [121]:
dir(b1)

['_BankAccount__balance',
 '_BankAccount__test',
 '__class__',
 '__delattr__',
 '__dict__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__le__',
 '__lt__',
 '__module__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 '__weakref__',
 'check_balance',
 'deposit',
 'withdraw']

In [127]:
###

# Can a class inherit from multiple classes


class A:
  temp=1
  def __init__(self,a):
    self.a=a

class B:
  temp=2
  def __init__(self,b):
    self.b=b

class C(A,B):
  def __init__(self,a,b,c):
    # super().__init__()
    A.__init__(self,a)
    B.__init__(self,b)
    self.c=c

In [128]:
c1=C(1,5,6)
c1.temp

1

In [129]:
class A:
    x = 10

class B(A):
    pass

class C(B):
    pass

class D:
    x = 5

class E(C, D):
    pass

e1=E()
e1.x

10

In [130]:
class A:
    pass

class B(A):
    pass

class C(B):
    pass

class D:
    x = 5

class E(C, D):
    pass

e1=E()
e1.x

5

In [131]:
class A:
    x = 10

class B(A):
    pass

class C(B):
    pass

class D:
    x = 5

class E(C, D):
    x=11
    pass

e1=E()
e1.x

11

In [132]:
class A:
    x = 10

class B(A):
    pass

class C(B):
    x=7
    pass

class D(A):
    x = 5

class E(C, D):
    pass

e1=E()
e1.x

7

In [133]:
class A:
    x = 10

class B(A):
    x=7
    pass

class C(B):
    pass

class D(A):
    x = 5

class E(C, D):
    pass

e1=E()
e1.x

7

In [138]:
class A:
    x = 10

class B(A):
    pass

class C(B):
    pass

class D(A):
    x = 5

class E(C, D):
    pass

# class E(D):
#     pass

e1=E()
e1.x

5

In [139]:
E.__mro__

(__main__.E, __main__.C, __main__.B, __main__.D, __main__.A, object)

In [ ]:
class A:
    print("Am I a class?")

A()

obj1 = A()

if A():
    print(A())

In [140]:
class Counter:
    def __init__(self):
        self.count=5
        self.count=count+1

c = Counter()
print(c.count)

Is it possible?

In [143]:
class A:
    def do_something(self):
        print("I do something!")

class B(A):
    def do_something(self):
        super().do_something()
        print("I also do something!")

b = B()
b.do_something()

I do something!
I also do something!

In [144]:
class A:
    def __init__(self):
        self.variable = 'Old'
        self.update(self.variable)

    def update(self, var):
        var = 'New'

a = A()
print(a.variable)

Old

In [145]:
class A:
    def __init__(self):
        self.variable = 'Old'
        self.update(self.variable)

    def update(self, var):
        self.variable = 'New'

a = A()
print(a.variable)

New

In [146]:
a="New"
def random(a):
  a="Old"
  return a

random(a)
a

'New'

In [147]:
class A:
    def __init__(self):
        self.variable = ['Old']
        self.update(self.variable)

    def update(self, var):
        var.append('New')

a = A()
print(a.variable)

['Old', 'New']

In [ ]:
class fruits:
    def __init__(self, price):
        self.price = price

obj=fruits(50)
obj.quantity=10
obj.bags=2

print(obj.quantity+len(obj.__dict__))