In [ ]:
numbers=[1,2,3,4]
square_num=[]
for num in numbers:
  square_num.append(num*num)

In [ ]:
square_num=[i*i for i in numbers]

In [ ]:
## everything needs to be written in fucntions
square_num=list(map(lambda x: x*x, numbers))

In [ ]:
def square_fun(x):
  return [i * i for i in x]

square_fun(numbers)

In [ ]:
def modu(x):
  return [i * i for i in x]

In [ ]:
def random(x):

  return None


 square_func
 modu
 random

In [ ]:
## we read data from some server or from a very large csv


x=1234467656
x1=x
x1=x1+31241234

In [1]:
x=1234467656


def rndom(x):
  x=x+31241234
  return x

rndom(x)

1265708890

In [ ]:
## we can keep track of only the import milestones

def A1():
  return 1


def A2():
  return 1



def A3():
  return 1



x=21837517235
x1=A1()
x2=A2()
X3=A3()

In [ ]:
## imperative approach

## we tell python all steps needed to be performed with how to do them
numbers=[1,2,3,4]
square_nusm=[]
for num in numbers:
  square_num.append(num*num)

In [ ]:
def square_fun(x):
  return [i * i for i in x]

square_fun(numbers)

In [ ]:
pd.read_csv
pd.drop_duplicates
pd.


## first read the csv
## drop the duplicate
## print the data

In [ ]:
# They do not require state updates, which can be a costly operation.


x=1234467656
x1=x
x2=x1+31241234
x3=x2/41234
x4=x3*12

In [2]:
def square(x):
  return x*x

square1 = lambda x : x*x

In [3]:
square(2)

4

In [4]:
square1(2)

4

In [5]:
(lambda x : x*x)(2)
## they are also called anonymous fucntions

4

In [ ]:
## ternary operator

if cond():
  TRUE_a
else:
  False_a



# condition ? True_a : False a

True_a if condition else False_a

In [ ]:
def sq(a):
  if a%2==0
    return a*a
  else:
    return a+2

In [ ]:
lambda x:x*x

In [ ]:
lambda x: x*x if x%2==0 else x+2

In [6]:
a=[1,5,6,7,3,4,2]
sorted_a=sorted(a)
sorted_a

[1, 2, 3, 4, 5, 6, 7]

In [8]:
students=[
   {"name":"A","marks":45} ,
   {"name":"C","marks":35} ,
   {"name":"D","marks":58} ,
   {"name":"B","marks":50} ,
   {"name":"M","marks":45} ,
    {"name":"N","marks":74}
]


lambda x: x["marks"]

In [9]:
sorted(students)

TypeError: '<' not supported between instances of 'dict' and 'dict'

In [11]:
sorted(students ,key=lambda x: x["marks"] ,reverse=True)

[{'name': 'N', 'marks': 74},
 {'name': 'D', 'marks': 58},
 {'name': 'B', 'marks': 50},
 {'name': 'A', 'marks': 45},
 {'name': 'M', 'marks': 45},
 {'name': 'C', 'marks': 35}]

In [ ]:
sorted(students ,key=x["marks"] )

In [ ]:
sorted(students ,key=students["marks"] )

In [ ]:

if cond1:
  if cond2:
    case1
  else:
    case2
else:
  case3



   (case1 if cond2 else case2) if cond1 else case3

In [ ]:
for i in numbers:
  i*i

In [ ]:
[(lambda x:x*x)(i) for i in numbers]

In [ ]:
lambda x: list(map(print,x))

In [13]:
def random():
  print("1")
  def random2():
    print("2")
    return 2
  a=random2()
  return a+2

random2()
## cant be called

1
2

4

In [ ]:
def random():
  print("1")
  def random2():
    print("2")
    return 2
  return random2()

In [14]:
def random():
  print("1")
  def random2():
    print("2")
    return 2
  return random2
new_func=random()

1

In [15]:

type(new_func)

function

In [16]:
new_func

In [17]:
new_func()

2

2

In [ ]:
def random():
  print("1")
  def random2():
    print("2")
    return 2
  return random2
new_func=random()


## random is an higher order function
## fancy name- > function which returns another function

In [18]:
new_func()

2

2

In [20]:
random2()

AttributeError: 'function' object has no attribute 'random2'

In [21]:
def hof():
  return lambda x:x*x

a=hof()
a

In [22]:
a(2)

4

In [23]:
#### create a general higher order function that return the nth exponential function

def gen_exp(n):
  def exp(x):
    return x**n
  return exp

exp_5=gen_exp(5)
exp_5

exp_5(2)

32

In [24]:
## why not this
def exp1(x,n):
  return x**n
exp1(2,5)

32

In [25]:
def foo():
  print("Hello Everyone ! HOw you doing")

In [26]:
def bar():
  print("Random activity")

In [27]:
foo()

Hello Everyone ! HOw you doing

In [29]:
def foo():
  print("-"*50)
  print("Hello Everyone ! HOw you doing")
  print("-"*50)

foo()

--------------------------------------------------
Hello Everyone ! HOw you doing
--------------------------------------------------

In [31]:
def bar():
  print("-"*50)
  print("Random activity")
  print("-"*50)
bar()

--------------------------------------------------
Random activity
--------------------------------------------------

In [32]:
def pretty(func):
  def inner():
    print("-"*50)
    func()
    print("-"*50)
  return inner

def foo():
  print("Hello Everyone ! HOw you doing")

def bar():
  print("Random activity")

In [33]:
foo()

Hello Everyone ! HOw you doing

In [34]:
new_foo=pretty(foo)
new_foo()

--------------------------------------------------
Hello Everyone ! HOw you doing
--------------------------------------------------

In [35]:
new_bar=pretty(bar)
new_bar()

--------------------------------------------------
Random activity
--------------------------------------------------

In [44]:
def pretty(func):
  def inner(x):
    print("-"*50)
    func(x)
    print("-"*50)
  return inner


@pretty
def bar_exec(x):
  print("Random activity")
  x=x+5
  return x*5

In [45]:
bar_exec(5)

--------------------------------------------------
Random activity
--------------------------------------------------

In [ ]:
def pretty(func):
  def inner():
    print("-"*50)
    func()
    print("-"*50)
  return inner

@pretty
def foo():
  print("Hello Everyone ! HOw you doing")

@pretty
def bar():
  print("Random activity")

In [50]:
def pretty(a)):
  def inner(x):
    print("-"*50)
    a
    print("-"*50)
  return inner

def bar(x):
  print("Random activity",x)

new_bar=pretty(bar)
bar(10)

--------------------------------------------------
Random activity 1234467656
--------------------------------------------------
Random activity 10

In [54]:
def pretty(func):
  def inner(a,b,c):
    print("-"*50)
    func(a,b,c)
    print("-"*50)
  return inner


@pretty
def bar(x,y,z):
  print("Random activity",x,y,z)

bar(5,10,15)

--------------------------------------------------
Random activity 5 10 15
--------------------------------------------------

In [55]:
class Student:
  name=None
  roll=None
  Branch=None

  def __init__(self,name,roll,batch):
    self.name=name
    self.roll=roll
    self.batch=batch


s1=Student("Bharti",1234,"Morning")

In [56]:
s1.name

'Bharti'

In [57]:
class Student:
  _name=None
  _roll=None
  _batch=None

  def __init__(self,name,roll,batch):
    self._name=name
    self._roll=roll
    self._batch=batch


s1=Student("Bharti",1234,"Morning")

In [58]:
s1._name

'Bharti'

In [59]:
s1._name="ABC"

In [60]:
s1._name

'ABC'

In [61]:
class Student:
  __name=None
  __roll=None
  __batch=None

  def __init__(self,name,roll,batch):
    self.__name=name
    self.__roll=roll
    self.__batch=batch


s1=Student("Bharti",1234,"Morning")

In [63]:
s1.__name

AttributeError: 'Student' object has no attribute '__name'

In [70]:
class Student:
  _name=None
  _roll=None
  _batch=None

  def __init__(self,name,roll,batch):
    self._name=name
    self._roll=roll
    self._batch=batch

  def _display(self):
    print("Roll",self._roll)

class random(Student):
  def __init__(self,name,roll,batch):
    Student.__init__(self,name,roll,batch)

  def display(self):
    print("Name",self._name)
    self._display()

s1=random("Bharti",1234,"Morning")

s1._name

'Bharti'

In [72]:
s1.display()

Name Bharti
Roll 1234

In [74]:
s1._display()

Roll 1234

In [76]:
arr=[(1,2),(2,3),(2,3),(1,2),(5,6)]


[item for item in set(tuple(i) for i in arr)]

[(2, 3), (1, 2), (5, 6)]

In [ ]:
[ (a,b) for i, [a,b] in enumerate(arr) if not any ((d==b and a==c) for c, d in arr[ : i])]

In [76]:

result=[]

for i, [a,b] in enumerate(arr):
  if  not any ((d==b and a==c) for c, d in arr[ : i]):
    result.append((a,b))



for i, [a,b] in enumerate(arr):
  truth_val=[]
  for c, d in arr[ : i]:
      truth_val.append((d==b and a==c))

  if not any(truth_val):
    result.append((a,b))

In [ ]:
[ (a,b) for i, [a,b] in enumerate(arr) if cond]