In [1]:
import pandas as pd
import numpy as np


!gdown 1s2TkjSpzNc4SyxqRrQleZyDIHlc7bxnd
!gdown 1Ws-_s1fHZ9nHfGLVUQurbHDvStePlEJm

movies = pd.read_csv('movies.csv', index_col=0)
directors = pd.read_csv('directors.csv',index_col=0)

data = movies.merge(directors, how='left', left_on='director_id',right_on='id')
data.drop(['director_id','id_y'],axis=1,inplace=True)

Downloading...
From: https://drive.google.com/uc?id=1s2TkjSpzNc4SyxqRrQleZyDIHlc7bxnd
To: /content/movies.csv
100% 112k/112k [00:00<00:00, 94.5MB/s]
Downloading...
From: https://drive.google.com/uc?id=1Ws-_s1fHZ9nHfGLVUQurbHDvStePlEJm
To: /content/directors.csv
100% 65.4k/65.4k [00:00<00:00, 90.9MB/s]

In [2]:
data.head()

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male

In [3]:
#encoding - male - 0
#encoding female -1

In [4]:
def encode(text):
    if text=="Male":
        return 0
    else:
        return 1

In [5]:
data.iloc[0]['gender']

'Male'

In [6]:
encode(data.iloc[0]['gender'])

0

In [7]:
data['gender'].apply(encode)

0       0
1       0
2       0
3       0
4       0
       ..
1460    0
1461    0
1462    0
1463    0
1464    1
Name: gender, Length: 1465, dtype: int64

In [8]:
data['gender_mapping'] = data['gender'].apply(encode)

In [9]:
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,gender_mapping
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male,0
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male,0
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male,0
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male,0
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male,0
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male,0
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male,0
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male,0
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN,1

# How to find sum of revenue and budget per movie?

In [10]:
np.sum([1,2])

3

In [11]:
data[['revenue','budget']].apply(np.sum)

revenue    209866997305
budget      70353617179
dtype: int64

In [12]:
data[['revenue','budget']].apply(np.sum,axis=1)

0       3024965087
1       1261000000
2       1125674609
3       1334939099
4       1148871626
           ...
1460        321952
1461       3178130
1462             0
1463             0
1464       2260920
Length: 1465, dtype: int64

#  how can I find profit per movie (revenue-budget)?

In [13]:
def prof(x):
    return x['revenue'] - x['budget']

data['profit'] = data[['revenue','budget']].apply(prof,axis=1)
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,gender_mapping,profit
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male,0,2550965087
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male,0,661000000
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male,0,635674609
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male,0,834939099
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male,0,632871626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male,0,321952
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male,0,3124130
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male,0,0
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male,0,0
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN,1,1820920

# Apply function
 - apply a function on a dataframe
 - create a function/inbuilt function np.sum
 - column or a dataframe and then you need to pasds it to a function

 -

**GROUP BY**

In [14]:
# How can we know the number of movies released by a particular director, say, Christopher Nolan?

In [17]:
data.loc[data['director_name']=='Christopher Nolan','title'].count()

8

In [ ]:
# #### What if we have to do find number of movies of each director?

In [19]:
data['director_name'].nunique()

199

In [20]:
data['director_name'].value_counts()

Steven Spielberg      26
Martin Scorsese       19
Clint Eastwood        19
Woody Allen           18
Ridley Scott          16
                      ..
Tim Hill               5
Jonathan Liebesman     5
Roman Polanski         5
Larry Charles          5
Nicole Holofcener      5
Name: director_name, Length: 199, dtype: int64

#### How can you find the average popularity of each director?

We will have to some group our rows director wise.


#### What is Grouping ?

Simply it could be understood through the terms - Split, apply, combine

<img src="https://learning.oreilly.com/api/v2/epubs/urn:orm:book:9781491912126/files/assets/pyds_03in01.png" height = 350/>

1. **Split**: **Breaking up and grouping** a DataFrame depending on the value of the specified key.

2. **Apply**: Computing **some functio**n, usually an **aggregate, transformation, or filtering**, within the individual groups.

3. **Combine**: **Merge the results** of these operations into an output array.

Note:

All these steps are to understand the topic

In [22]:
data.groupby('director_name')

In [23]:
data.groupby('director_name').ngroups

199

In [24]:
data.groupby('director_name').groups

{'Adam McKay': [176, 323, 366, 505, 839, 916], 'Adam Shankman': [265, 300, 350, 404, 458, 843, 999, 1231], 'Alejandro GonzÃ¡lez IÃ±Ã¡rritu': [106, 749, 1015, 1034, 1077, 1405], 'Alex Proyas': [95, 159, 514, 671, 873], 'Alexander Payne': [793, 1006, 1101, 1211, 1281], 'Andrew Adamson': [11, 43, 328, 501, 947], 'Andrew Niccol': [533, 603, 701, 722, 1439], 'Andrzej Bartkowiak': [349, 549, 754, 911, 924], 'Andy Fickman': [517, 681, 909, 926, 973, 1023], 'Andy Tennant': [314, 320, 464, 593, 676, 885], 'Ang Lee': [99, 134, 748, 840, 1089, 1110, 1132, 1184], 'Anne Fletcher': [610, 650, 736, 789, 1206], 'Antoine Fuqua': [310, 338, 424, 467, 576, 808, 818, 1105], 'Atom Egoyan': [946, 1128, 1164, 1194, 1347, 1416], 'Barry Levinson': [313, 319, 471, 594, 878, 898, 1013, 1037, 1082, 1143, 1185, 1345, 1378], 'Barry Sonnenfeld': [13, 48, 90, 205, 591, 778, 783], 'Ben Stiller': [209, 212, 547, 562, 850], 'Bill Condon': [102, 307, 902, 1233, 1381], 'Bobby Farrelly': [352, 356, 481, 498, 624, 630, 654, 806, 928, 972, 1111], 'Brad Anderson': [1163, 1197, 1350, 1419, 1430], 'Brett Ratner': [24, 39, 188, 207, 238, 292, 405, 456, 920], 'Brian De Palma': [228, 255, 318, 439, 747, 905, 919, 1088, 1232, 1261, 1317, 1354], 'Brian Helgeland': [512, 607, 623, 742, 933], 'Brian Levant': [418, 449, 568, 761, 860, 1003], 'Brian Robbins': [416, 441, 669, 962, 988, 1115], 'Bryan Singer': [6, 32, 33, 44, 122, 216, 297, 1326], 'Cameron Crowe': [335, 434, 488, 503, 513, 698], 'Catherine Hardwicke': [602, 695, 724, 937, 1406, 1412], 'Chris Columbus': [117, 167, 204, 218, 229, 509, 656, 897, 996, 1086, 1129], 'Chris Weitz': [17, 500, 794, 869, 1202, 1267], 'Christopher Nolan': [3, 45, 58, 59, 74, 565, 641, 1341], 'Chuck Russell': [177, 410, 657, 1069, 1097, 1339], 'Clint Eastwood': [369, 426, 447, 482, 490, 520, 530, 535, 645, 727, 731, 786, 787, 899, 974, 986, 1167, 1190, 1313], 'Curtis Hanson': [494, 579, 606, 711, 733, 1057, 1310], 'Danny Boyle': [527, 668, 1083, 1085, 1126, 1168, 1287, 1385], 'Darren Aronofsky': [113, 751, 1187, 1328, 1363, 1458], 'Darren Lynn Bousman': [1241, 1243, 1283, 1338, 1440], 'David Ayer': [50, 273, 741, 1024, 1146, 1407], 'David Cronenberg': [541, 767, 994, 1055, 1254, 1268, 1334], 'David Fincher': [62, 213, 253, 383, 398, 478, 522, 555, 618, 785], 'David Gordon Green': [543, 862, 884, 927, 1376, 1418, 1432, 1459], 'David Koepp': [443, 644, 735, 1041, 1209], 'David Lynch': [583, 1161, 1264, 1340, 1456], 'David O. Russell': [422, 556, 609, 896, 982, 989, 1229, 1304], 'David R. Ellis': [582, 634, 756, 888, 934], 'David Zucker': [569, 619, 965, 1052, 1175], 'Dennis Dugan': [217, 260, 267, 293, 303, 718, 780, 977, 1247], 'Donald Petrie': [427, 507, 570, 649, 858, 894, 1106, 1331], 'Doug Liman': [52, 148, 251, 399, 544, 1318, 1451], 'Edward Zwick': [92, 182, 346, 566, 791, 819, 825], 'F. Gary Gray': [308, 402, 491, 523, 697, 833, 1272, 1380], 'Francis Ford Coppola': [487, 559, 622, 646, 772, 1076, 1155, 1253, 1312], 'Francis Lawrence': [63, 72, 109, 120, 679], 'Frank Coraci': [157, 249, 275, 451, 577, 599, 963], 'Frank Oz': [193, 355, 473, 580, 712, 813, 987], 'Garry Marshall': [329, 496, 528, 571, 784, 893, 1029, 1169], 'Gary Fleder': [518, 667, 689, 867, 981, 1165], 'Gary Winick': [258, 797, 798, 804, 1454], 'Gavin O'Connor': [820, 841, 939, 953, 1444], 'George A. Romero': [250, 1066, 1096, 1278, 1367, 1396], 'George Clooney': [343, 450, 831, 966, 1302], 'George Miller': [78, 103, 233, 287, 1250, 1403, 1450], 'Gore Verbinski': [1, 8, 9, 107, 119, 633, 1040], 'Guillermo del Toro': [35, 252, 419, 486, 1118], 'Gus Van Sant': [595, 1018, 1027, 1159, 1240, 1311, 1398], 'Guy Ritchie': [124, 215, 312, 1093, 1225, 1269, 1420], 'Harold Ramis': [425, 431, 558, 586, 788, 1137, 1166, 1325], 'Ivan Reitman': [274, 643, 816, 883, 910, 935, 1134, 1242], 'James Cameron': [0, 19, 170, 173, 344, 1100, 1320], 'James Ivory': [1125, 1152, 1180, 1291, 1293, 1390, 1397], 'James Mangold': [140, 141, 557, 560, 829, 845, 958, 1145], 'James Wan': [30, 617, 1002, 1047, 1337, 1417, 1424], 'Jan de Bont': [155, 224, 231, 270, 781], 'Jason Friedberg': [812, 1010, 1012, 1014, 1036], 'Jason Reitman': [792, 1092, 1213, 1295, 1299], 'Jaume Collet-Serra': [516, 540, 640, 725, 1011, 1189], 'Jay Roach': [195, 359, 389, 397, 461, 703, 859, 1072], 'Jean-Pierre Jeunet': [423, 485, 605, 664, 765], 'Joe Dante': [284, 525, 638, 1226, 1298, 1428], 'Joe Wright': [85, 432, 553, 803, 814, 855], 'Joel Coen': [428, 670, 691, 707, 721, 889, 906, 980, 1157, 1238, 1305], 'Joel Schumacher': [128, 184, 348, 484, 572, 614, 652, 764, 876, 886, 1108, 1230, 1280], 'John Carpenter': [537, 663, 686, 861, 938, 1028, 1080, 1102, 1329, 1371], 'John Glen': [601, 642, 801, 847, 864], 'John Landis': [524, 868, 1276, 1384, 1435], 'John Madden': [457, 882, 1020, 1249, 1257], 'John McTiernan': [127, 214, 244, 351, 534, 563, 648, 782, 838, 1074], 'John Singleton': [294, 489, 732, 796, 1120, 1173, 1316], 'John Whitesell': [499, 632, 763, 1119, 1148], 'John Woo': [131, 142, 264, 371, 420, 675, 1182], 'Jon Favreau': [46, 54, 55, 382, 759, 1346], 'Jon M. Chu': [100, 225, 810, 1099, 1186], 'Jon Turteltaub': [64, 180, 372, 480, 760, 846, 1171], 'Jonathan Demme': [277, 493, 1000, 1123, 1215], 'Jonathan Liebesman': [81, 143, 339, 1117, 1301], 'Judd Apatow': [321, 710, 717, 865, 881], 'Justin Lin': [38, 123, 246, 1437, 1447], 'Kenneth Branagh': [80, 197, 421, 879, 1094, 1277, 1288], 'Kenny Ortega': [412, 852, 1228, 1315, 1365], 'Kevin Reynolds': [53, 502, 639, 1019, 1059], ...}

In [26]:
data.groupby('director_name').get_group('Alexander Payne')

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,gender_mapping,profit
793,45163,30000000,19,105834556,About Schmidt,6.7,362,2002,Dec,Friday,Alexander Payne,NaN,1,75834556
1006,45699,20000000,40,177243185,The Descendants,6.7,934,2011,Sep,Friday,Alexander Payne,NaN,1,157243185
1101,46004,16000000,23,109502303,Sideways,6.9,478,2004,Oct,Friday,Alexander Payne,NaN,1,93502303
1211,46446,12000000,29,17654912,Nebraska,7.4,636,2013,Sep,Saturday,Alexander Payne,NaN,1,5654912
1281,46813,0,13,0,Election,6.7,270,1999,Apr,Friday,Alexander Payne,NaN,1,0

In [31]:
data.groupby('director_name').get_group('Christopher Nolan')['title'].count()

8

In [ ]:
# How can we find multiple aggregations of any feature?

In [34]:
data['year'].min()

1976

In [37]:
data.groupby('director_name')['year'].min()

director_name
Adam McKay                     2004
Adam Shankman                  2001
Alejandro GonzÃ¡lez IÃ±Ã¡rritu    2000
Alex Proyas                    1994
Alexander Payne                1999
                               ...
Wes Craven                     1984
Wolfgang Petersen              1981
Woody Allen                    1977
Zack Snyder                    2004
Zhang Yimou                    2002
Name: year, Length: 199, dtype: int64

In [38]:
data.groupby('director_name')['year'].aggregate(['min','max'])

                              min   max
director_name
Adam McKay                   2004  2015
Adam Shankman                2001  2012
Alejandro GonzÃ¡lez IÃ±Ã¡rritu  2000  2015
Alex Proyas                  1994  2016
Alexander Payne              1999  2013
...                           ...   ...
Wes Craven                   1984  2011
Wolfgang Petersen            1981  2006
Woody Allen                  1977  2013
Zack Snyder                  2004  2016
Zhang Yimou                  2002  2014

[199 rows x 2 columns]

In [ ]:
#We can get the highest budget movie data of every director

In [39]:
data.groupby('director_name')['budget'].max()

director_name
Adam McKay                     100000000
Adam Shankman                   80000000
Alejandro GonzÃ¡lez IÃ±Ã¡rritu    135000000
Alex Proyas                    140000000
Alexander Payne                 30000000
                                 ...
Wes Craven                      40000000
Wolfgang Petersen              175000000
Woody Allen                     30000000
Zack Snyder                    250000000
Zhang Yimou                     94000000
Name: budget, Length: 199, dtype: int64

In [40]:
#### How can we **filter** out the director names with **max budget >100M**?

In [51]:
data['title']

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,gender_mapping,profit
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male,0,2550965087
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male,0,661000000
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male,0,635674609
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male,0,834939099
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male,0,632871626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male,0,321952
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male,0,3124130
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male,0,0
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male,0,0
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN,1,1820920

In [43]:
data_dir_budget = data.groupby("director_name")["budget"].max().reset_index()
data_dir_budget.head()

                 director_name     budget
0                   Adam McKay  100000000
1                Adam Shankman   80000000
2  Alejandro GonzÃ¡lez IÃ±Ã¡rritu  135000000
3                  Alex Proyas  140000000
4              Alexander Payne   30000000

In [46]:
names = data_dir_budget.loc[data_dir_budget["budget"] >= 100000000, "director_name"]
names

0                       Adam McKay
2      Alejandro GonzÃ¡lez IÃ±Ã¡rritu
3                      Alex Proyas
5                   Andrew Adamson
10                         Ang Lee
                  ...
187                    Tom Shadyac
188                     Tom Tykwer
189                     Tony Scott
195              Wolfgang Petersen
197                    Zack Snyder
Name: director_name, Length: 85, dtype: object

In [47]:
data

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,gender_mapping,profit
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male,0,2550965087
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male,0,661000000
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male,0,635674609
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male,0,834939099
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male,0,632871626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male,0,321952
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male,0,3124130
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male,0,0
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male,0,0
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN,1,1820920

In [48]:
data['director_name'].isin(names)

0        True
1        True
2        True
3        True
4        True
        ...
1460     True
1461    False
1462    False
1463    False
1464    False
Name: director_name, Length: 1465, dtype: bool

In [49]:
data.loc[data['director_name'].isin(names)]

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,gender_mapping,profit
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male,0,2550965087
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male,0,661000000
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male,0,635674609
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male,0,834939099
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male,0,632871626
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1450,48267,400000,33,100000000,Mad Max,6.6,1213,1979,Apr,Thursday,George Miller,Male,0,99600000
1451,48268,200000,13,4505922,Swingers,6.8,253,1996,Oct,Friday,Doug Liman,Male,0,4305922
1452,48274,0,5,2611555,Three,6.3,31,2010,Dec,Thursday,Tom Tykwer,Male,0,2611555
1458,48335,60000,27,3221152,Pi,7.1,586,1998,Jul,Friday,Darren Aronofsky,Male,0,3161152
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male,0,321952

In [ ]:
# Lambda Function

**# Lambda Function**

In [52]:
def add(a):
  a = a+10
  print(a)

In [53]:
add(2)

12

In [54]:
#lambda input:output
x = lambda a : a+10

In [55]:
x(2)

12

In [56]:
yuraj = lambda x,y :x*y

In [57]:
yuraj(3,4)

12

In [ ]:
# create a lambda fucntion that takes three values and add them

In [58]:
y = lambda x,y,z :x+y+z
y(1,2,3)

6

In [63]:
data.groupby('director_name')['vote_average'].max().sort_values(ascending=False)

director_name
David Fincher        8.3
Steven Spielberg     8.3
Quentin Tarantino    8.3
Robert Zemeckis      8.2
Christopher Nolan    8.2
                    ...
Tim Hill             5.8
Raja Gosnell         5.6
Brian Levant         5.5
John Whitesell       5.4
Jason Friedberg      4.2
Name: vote_average, Length: 199, dtype: float64

In [64]:
data.groupby('director_name').filter( lambda x :x['vote_average'].max()>=8.3)

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,gender_mapping,profit
37,43650,185000000,75,786636033,Indiana Jones and the Kingdom of the Crystal S...,5.7,2495,2008,May,Wednesday,Steven Spielberg,Male,0,601636033
62,43697,150000000,60,333932083,The Curious Case of Benjamin Button,7.3,3292,2008,Nov,Monday,David Fincher,Male,0,183932083
105,43772,140000000,44,183345589,The BFG,6.0,1000,2016,Jun,Wednesday,Steven Spielberg,Male,0,43345589
110,43782,132000000,48,591739379,War of the Worlds,6.2,2322,2005,Jun,Tuesday,Steven Spielberg,Male,0,459739379
114,43787,130000000,89,371940071,The Adventures of Tintin,6.7,2061,2011,Oct,Tuesday,Steven Spielberg,Male,0,241940071
166,43872,102000000,65,358372926,Minority Report,7.1,2608,2002,Jun,Thursday,Steven Spielberg,Male,0,256372926
178,43884,100000000,82,425368238,Django Unchained,7.8,10099,2012,Dec,Tuesday,Quentin Tarantino,Male,0,325368238
213,43951,90000000,47,232617430,The Girl with the Dragon Tattoo,7.2,2434,2011,Dec,Wednesday,David Fincher,Male,0,142617430
219,43960,100000000,34,235926552,A.I. Artificial Intelligence,6.8,1974,2001,Jun,Friday,Steven Spielberg,Male,0,135926552
253,44018,65000000,51,84785914,Zodiac,7.3,2023,2007,Mar,Friday,David Fincher,Male,0,19785914
296,44105,73000000,2,229074524,The Lost World: Jurassic Park,6.2,2487,1997,May,Friday,Steven Spielberg,Male,0,156074524
304,44118,60000000,57,219417255,The Terminal,7.0,1910,2004,Jun,Thursday,Steven Spielberg,Male,0,159417255
309,44125,70000000,29,130358911,Munich,6.9,696,2005,Dec,Thursday,Steven Spielberg,Male,0,60358911
332,44168,70000000,72,319131050,Inglourious Basterds,7.9,6430,2009,Aug,Tuesday,Quentin Tarantino,Male,0,249131050
333,44169,70000000,33,300854823,Hook,6.6,1532,1991,Dec,Wednesday,Steven Spielberg,Male,0,230854823
342,44182,66000000,29,177584879,War Horse,7.0,992,2011,Dec,Sunday,Steven Spielberg,Male,0,111584879
360,44225,70000000,76,481840909,Saving Private Ryan,7.9,5048,1998,Jul,Friday,Steven Spielberg,Male,0,411840909
363,44230,65000000,36,275293450,Lincoln,6.7,1429,2012,Nov,Friday,Steven Spielberg,Male,0,210293450
383,44259,63000000,146,100853753,Fight Club,8.3,9413,1999,Oct,Friday,David Fincher,Male,0,37853753
390,44272,63000000,40,920100000,Jurassic Park,7.6,4856,1993,Jun,Friday,Steven Spielberg,Male,0,857100000
394,44281,44000000,68,155760117,The Hateful Eight,7.6,4274,2015,Dec,Friday,Quentin Tarantino,Male,0,111760117
398,44290,61000000,143,369330363,Gone Girl,7.9,5862,2014,Oct,Wednesday,David Fincher,Male,0,308330363
472,44425,30000000,79,180949000,Kill Bill: Vol. 1,7.7,4949,2003,Oct,Friday,Quentin Tarantino,Male,0,150949000
474,44427,30000000,50,152159461,Kill Bill: Vol. 2,7.6,3948,2004,Apr,Friday,Quentin Tarantino,Male,0,122159461
478,44435,50000000,45,159773545,AlienÂ³,6.2,1633,1992,May,Friday,David Fincher,Male,0,109773545
495,44480,52000000,73,352114312,Catch Me If You Can,7.7,3795,2002,Dec,Wednesday,Steven Spielberg,Male,0,300114312
522,44543,50000000,62,109423648,The Game,7.5,1506,1997,Sep,Friday,David Fincher,Male,0,59423648
552,44603,48000000,80,474171806,Indiana Jones and the Last Crusade,7.6,3152,1989,May,Wednesday,Steven Spielberg,Male,0,426171806
555,44607,48000000,53,196397415,Panic Room,6.5,1267,2002,Mar,Friday,David Fincher,Male,0,148397415
618,44758,40000000,69,224920315,The Social Network,7.1,3391,2010,Sep,Thursday,David Fincher,Male,0,184920315
635,44784,40000000,48,165478348,Bridge of Spies,7.2,2583,2015,Oct,Thursday,Steven Spielberg,Male,0,125478348
647,44808,36000000,3,74000000,Amistad,6.8,316,1997,Dec,Wednesday,Steven Spielberg,Male,0,38000000
766,45107,35000000,10,31755742,1941,5.6,143,1979,Dec,Thursday,Steven Spielberg,Male,0,-3244258
785,45150,33000000,79,327311859,Se7en,8.1,5765,1995,Sep,Friday,David Fincher,Male,0,294311859
834,45294,28000000,66,333000000,Indiana Jones and the Temple of Doom,7.1,2781,1984,May,Wednesday,Steven Spielberg,Male,0,305000000
901,45415,22000000,104,321365567,Schindler's List,8.3,4329,1993,Nov,Monday,Steven Spielberg,Male,0,299365567
995,45682,18000000,68,389925971,Raiders of the Lost Ark,7.7,3854,1981,Jun,Friday,Steven Spielberg,Male,0,371925971
997,45684,20000000,52,303788635,Close Encounters of the Third Kind,7.2,1098,1977,Nov,Wednesday,Steven Spielberg,Male,0,283788635
1135,46117,15000000,17,146292009,The Color Purple,7.7,338,1985,Dec,Wednesday,Steven Spielberg,Male,0,131292009
1207,46419,12000000,40,39673162,Jackie Brown,7.3,1514,1997,Dec,Wednesday,Quentin Tarantino,Male,0,27673162
1239,46564,10500000,56,792910554,E.T. the Extra-Terrestrial,7.3,3269,1982,Apr,Saturday,Steven Spielberg,Male,0,782410554
1252,46603,10000000,12,29450919,Twilight Zone: The Movie,6.2,161,1983,Jun,Friday,Steven Spielberg,Male,0,19450919
1284,46829,8000000,121,213928762,Pulp Fiction,8.3,8428,1994,Oct,Saturday,Quentin Tarantino,Male,0,205928762
1426,47897,1200000,66,14661007,Reservoir Dogs,8.0,3697,1992,Sep,Wednesday,Quentin Tarantino,Male,0,13461007

In [ ]:
#

**How do we filter risky movies?**

In [65]:
def func(x):
  x['risky'] = x['budget'] - x['revenue'].mean() >=0
  return x

data_risky = data.groupby('director_name').apply(func)
data_risky

<ipython-input-65-694d02629fbf>:5: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  data_risky = data.groupby('director_name').apply(func)

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,gender_mapping,profit,risky
0,43597,237000000,150,2787965087,Avatar,7.2,11800,2009,Dec,Thursday,James Cameron,Male,0,2550965087,False
1,43598,300000000,139,961000000,Pirates of the Caribbean: At World's End,6.9,4500,2007,May,Saturday,Gore Verbinski,Male,0,661000000,False
2,43599,245000000,107,880674609,Spectre,6.3,4466,2015,Oct,Monday,Sam Mendes,Male,0,635674609,False
3,43600,250000000,112,1084939099,The Dark Knight Rises,7.6,9106,2012,Jul,Monday,Christopher Nolan,Male,0,834939099,False
4,43602,258000000,115,890871626,Spider-Man 3,5.9,3576,2007,May,Tuesday,Sam Raimi,Male,0,632871626,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1460,48363,0,3,321952,The Last Waltz,7.9,64,1978,May,Monday,Martin Scorsese,Male,0,321952,False
1461,48370,27000,19,3151130,Clerks,7.4,755,1994,Sep,Tuesday,Kevin Smith,Male,0,3124130,False
1462,48375,0,7,0,Rampage,6.0,131,2009,Aug,Friday,Uwe Boll,Male,0,0,False
1463,48376,0,3,0,Slacker,6.4,77,1990,Jul,Friday,Richard Linklater,Male,0,0,False
1464,48395,220000,14,2040920,El Mariachi,6.6,238,1992,Sep,Friday,Robert Rodriguez,NaN,1,1820920,False

In [66]:
data_risky.loc[data_risky["risky"]]

,id_x,budget,popularity,revenue,title,vote_average,vote_count,year,month,day,director_name,gender,gender_mapping,profit,risky
7,43608,200000000,107,586090727,Quantum of Solace,6.1,2965,2008,Oct,Thursday,Marc Forster,Male,0,386090727,True
12,43614,380000000,135,1045713802,Pirates of the Caribbean: On Stranger Tides,6.4,4948,2011,May,Saturday,Rob Marshall,Male,0,665713802,True
15,43618,200000000,37,310669540,Robin Hood,6.2,1398,2010,May,Wednesday,Ridley Scott,Male,0,110669540,True
20,43624,209000000,64,303025485,Battleship,5.5,2114,2012,Apr,Wednesday,Peter Berg,Male,0,94025485,True
24,43630,210000000,3,459359555,X-Men: The Last Stand,6.3,3525,2006,May,Wednesday,Brett Ratner,Male,0,249359555,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1347,47224,5000000,7,3263585,The Sweet Hereafter,6.8,103,1997,May,Wednesday,Atom Egoyan,Male,0,-1736415,True
1349,47229,5000000,3,4842699,90 Minutes in Heaven,5.4,40,2015,Sep,Friday,Michael Polish,Male,0,-157301,True
1351,47233,5000000,6,0,Light Sleeper,5.7,15,1992,Aug,Friday,Paul Schrader,NaN,1,-5000000,True
1356,47263,15000000,10,0,Dying of the Light,4.5,118,2014,Dec,Thursday,Paul Schrader,NaN,1,-15000000,True
1383,47453,3500000,4,0,In the Name of the King III,3.3,19,2013,Dec,Friday,Uwe Boll,Male,0,-3500000,True

In [ ]:
Yes, there are some 131 movies whose budget was greater than average earnings of its director

In [ ]:
lambda a,b:True if a>b else False

In [69]:
a =10
b=9

In [70]:
if a>b:
  print("Dancing")
else:
  print("Cooking")

Dancing

In [72]:
q = lambda a,b:"Dancing" if a>b else "Cooking"

In [73]:
q(10,9)

'Dancing'

In [74]:
q(10,19)

'Cooking'

In [76]:
# Filter only the ages that are greater than 18
ages = [13,90,17,21,56,5]

In [75]:
q = lambda a :a>18

In [77]:
q(ages)

TypeError: ignored

In [78]:
filter(lambda a :a>18,ages)

In [79]:
list(filter(lambda a :a>18,ages))

[90, 21, 56]

In [ ]:
[False,90,False,21,56,False]

In [84]:
a = [5,4,3,6,7,8,3,4,56]
l=[]
for i in a:
  l.append(i**2)
l

[25, 16, 9, 36, 49, 64, 9, 16, 3136]

In [86]:
a = [5,4,3,6,7,8,3,4,56]
list(filter(lambda a:a**2,a))

[5, 4, 3, 6, 7, 8, 3, 4, 56]

In [87]:
list(map(lambda a:a**2,a))

[25, 16, 9, 36, 49, 64, 9, 16, 3136]

1. apply
  1. create our own func and apply to a column
  2. inbuilt function like np.sum
  3. we can apply function on two columns,  axis changes

2. Group by
 1. ngroups
 2. groups
 3. get_groups

3. how to use maths function on multiple columns
4. Groupby with
 1. filter
 2. lambda
 3. isin

5. Map,Filter,lambda