Q1: Given an Input Integer N, Create a list containing all the numbers between 1 to N

Ex:
N =3
output = [1,2,3]

In [2]:
N=3
n = []
for i in range(1,N+1):
    n.append(i)
n

[1, 2, 3]

# Comprehensions -  One line of code

In [2]:
[i      for i in range(1,5+1)]

[1, 2, 3, 4, 5]

In [13]:
{i      for i in range(1,5+1)}

{1, 2, 3, 4, 5}

In [15]:
tuple([i      for i in range(1,5+1)])

(1, 2, 3, 4, 5)

In [3]:
["I will not talk"      for i in range(1,10+1)]

['I will not talk',
 'I will not talk',
 'I will not talk',
 'I will not talk',
 'I will not talk',
 'I will not talk',
 'I will not talk',
 'I will not talk',
 'I will not talk',
 'I will not talk']

Q2: Given an Input Integer N, Create a list containing all the Square of numbers between 1 to N

Ex:
N = 3
output = [1,4,9]

In [3]:
N=3
n = []
for i in range(1,N+1):
    n.append(i**2)
n

[1, 4, 9]

In [7]:
[i**2                               for i in range(1,5+1)]

[1, 4, 9, 16, 25]

Q3: Given an Input Integer N, Create a list containing all the Even numbers between 1 to N

Ex:
N = 5
output = [2,4]

In [5]:
N=5
n = []
for i in range(1,N+1):
    if i %2==0:
        n.append(i)
n

[2, 4]

In [9]:
[i for i in range(1,5+1) if i%2==0]

[2, 4]

In [10]:
a = [3,4,7,9,12,15]
[i for i in a if i%3==0]

[3, 9, 12, 15]

In [16]:
{i for i in a if i%3==0}

{3, 9, 12, 15}

Q4: Given an input list of N numbers, Create a new tuple of Size N containing "Even" or "Odd"

Ex:
input = [1,3,4,2,5]
output = ("Odd","Odd","Even","Even","Odd")

In [7]:
N = [1,3,4,2,5]
a=[]
for i in N:
    if i%2==0:
        a.append("Even")
    else:
        a.append("Odd")
tuple(a)

('Odd', 'Odd', 'Even', 'Even', 'Odd')

In [12]:
N = [1,3,4,2,5]
["Even" if i%2==0 else "Odd" for i in N]

['Odd', 'Odd', 'Even', 'Even', 'Odd']

In [ ]:
ut=["Multiple 2" if i%2==0 else "Multiple of 3" if i%3==0 else "no Idea" for i in N]
print(out)

In [10]:
name = "AKASH"

In [11]:
name[0] = "H"

TypeError: 'str' object does not support item assignment

In [12]:
t =(1,2,3)
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [13]:
name = "AKASH"
name[0] = "AKASH RAJPURIA"

TypeError: 'str' object does not support item assignment

In [14]:
name + "RAJPURIA"

'AKASHRAJPURIA'

In [ ]:
name = name + "RAJPURIA"

In [18]:
N = [1,3,4,2,5]
a=()
for i in N:
    if i%2==0:
        a = a+("Even",)
    else:
        a = a+("Odd",)
a

('Odd', 'Odd', 'Even', 'Even', 'Odd')

In [19]:
(1,2,3)

(1, 2, 3)

In [21]:
(1,2,3) +("abhishek",)

(1, 2, 3, 'abhishek')

Q5: Given an input list of N student, 
Create a new List containing length of Name of each Student
```
Ex:
students = ["Mohan","Jag", "Ramanna"]
Output=[5,3,7]

In [23]:
students = ["Mohan","Jag", "Ramanna"]
Output=[]
for i in students:
    Output.append(len(i))
Output

[5, 3, 7]

Q6: Given an input list of N numbers and N student, Create a new dictionary of Size N containing Name of Student as Key and Number as Values
```
Ex:
students = ["Mohan","Jagan", "Raman"]
Marks = [20,30,10]
output:
{"Mohan":20, "Jagan":30, "Raman":10}

In [29]:
students = ["Mohan","Jagan", "Raman"]
Marks = [20,30,10]
d= {}
for i in range(len(students)):#0,1,2
    #print(students[i],Marks[i])
    d[students[i]]=Marks[i]
d

{'Mohan': 20, 'Jagan': 30, 'Raman': 10}

In [18]:
students = ["Mohan","Jagan", "Raman"]
Marks = [20,30,10]
{students[i]: Marks[i]      for i in range(len(students))}

{'Mohan': 20, 'Jagan': 30, 'Raman': 10}

In [19]:
{students[i] =  Marks[i]      for i in range(len(students))}    for i in range(len(students))}

{'Jagan', 'Mohan', 'Raman'}

In [20]:
{
    'key' =1
}

SyntaxError: cannot assign to literal here. Maybe you meant '==' instead of '='? (1104171891.py, line 2)

In [21]:
{
    'key' :1
}

{'key': 1}

In [23]:
students = ["Mohan","Jagan", "Raman"]
marks = [20,30,10]
{student: mark for student, mark in (students, marks)}

ValueError: too many values to unpack (expected 2)

In [25]:
{student for student, mark in (students, marks)}

ValueError: too many values to unpack (expected 2)

In [31]:
students = ["Mohan","Jagan", "Raman"]
marks = [20,30]
list(zip(students, marks))

[('Mohan', 20), ('Jagan', 30)]

# Memory

In [32]:
a = 5

In [33]:
#5 heap memory
#a is storring the address of 5 in stack memory

In [34]:
print(id(a))

2366375068016

In [35]:
a= 10
b=a
c=20

In [37]:
print(id(a))
print(id(b))

print(id(c))

2366375068176
2366375068176
2366375068496

In [38]:
### Scope: Memory Allocation
def fun():
    aaaa=10
    
fun()
print(aaaa)

NameError: name 'aaaa' is not defined

In [ ]:
### Scope: Memory Allocation
def func():
    c=10
    print(c)

c=100
func()

In [ ]:
### Scope: Memory Allocation
def f1():
    b=100
def f2():
    a =10
    
def func():
    c=10
    print(c)

c=100
func()

### Mutable vs Immutable

In [43]:
a = 10
b= a
print(id(b))
print(id(a))


b=b+1
print(a,b)
print(id(a))
print(id(b))

2366375068176
2366375068176
10 11
2366375068176
2366375068208

In [44]:
a =10
b=10
print(id(a))
print(id(b))

2366375068176
2366375068176

In [47]:
a =[10,11]
b=a #shallow copy
print(id(a))
print(id(b))
b.append(10000000)

print(a,b)
print(id(a))
print(id(b))

2366468549376
2366468549376
[10, 11, 10000000] [10, 11, 10000000]
2366468549376
2366468549376

In [48]:
a =[10,11]
b = a[:] #deep copy
print(id(a))
print(id(b))
b.append(10000000)

print(a,b)
print(id(a))
print(id(b))

2366453016384
2366468543808
[10, 11] [10, 11, 10000000]
2366453016384
2366468543808

# quiz

In [49]:
print({0,1}=={0,1,1,1})

True

In [50]:
print({1,0}=={0,1})

True

In [51]:
print([1,0]==[0,1])

False

In [52]:
print({1,'2'}=={0,2})

False

In [53]:
{1,'2'}=={'2',1}

True