In [ ]:
x=5 ## initial data

## Mutations -> why it should not be done
x=3*x
x+=1
##

## You can't roll back mutations

In [ ]:
x1=3*x
x2=x1+1

In [ ]:
## treat all varibales as immutable
## never update a variable which is stored

In [ ]:
## if we follow the fiorst 2 rules->
# we will be left with a lot of varfiables

### Rather then mutating existing variables
## create f(x) which can do the same on the scope data
x=5

def mutation_1(x):
  x=3*x
  x+=1
  return x


x1=mutation_1(x)


x2=x1+1

In [2]:
###
a=[1,2,3,4,5]

In [3]:
### List comprehension
res1= [i**2 for i in a]

In [4]:
m=map(lambda x:x**2  , a )

In [5]:
m

In [6]:
m_list=list(m)
m_list

[1, 4, 9, 16, 25]

In [7]:
m_direct=list(map(lambda x:x**2  , a ))
m_direct

[1, 4, 9, 16, 25]

In [ ]:
##3 map applys given function on every item in iterable

In [9]:
heights=[144,167,145,156,187,190,203,184]

In [10]:
def height_func(h):
  if h<150 :
    return 'S'
  elif h<180:
    return 'M'
  else :
    return 'L'
heights=[144,167,145,156,187,190,203,184]
list(map(height_func,heights))

['S', 'M', 'S', 'M', 'L', 'L', 'L', 'L']

In [11]:
def height_func(h):
  if h<150 :
    return 'S'
  elif h<180:
    return 'M'
  else :
    return 'L'

list(map(lambda x: "S" if x<150 else ("M" if x>150 and x<180 else "L"),heights))

['S', 'M', 'S', 'M', 'L', 'L', 'L', 'L']

In [12]:
## lambdas -> 1 variable and 1 iterable


a=[1,0,0,0,0,1,1,1,0,1]
b=[1,0,1,0,0,1,0,1,0,1]

# c=[True,True, False ,...]

In [ ]:
###


lambda x,y : x==y


def check(x,y):
  return x==y

In [13]:
list(map(lambda x,y : x==y, a,b))

[True, True, False, True, True, True, False, True, True, True]

In [14]:
list(map(lambda x,y : x+y, a,b))

[2, 0, 1, 0, 0, 2, 1, 2, 0, 2]

In [15]:
a=[1,0,0,0,0,1,1]
b=[1,0,1,0,0,1,0,1,0,1]

list(map(lambda x,y : x+y, a,b))

## minimum length of the all iterable would be tajen

[2, 0, 1, 0, 0, 2, 1]

In [16]:
a=[1,0,0,0,0,1,1]
b=[1,0,1,0,0,1,0,1,0,1]
c=[1,0]
list(map(lambda x,y,z : x+y+z, a,b,c))

[3, 0]

In [18]:
list(map(lambda x,y,z : x+y, a,b,c))

[2, 0]

In [19]:
## select only even elements


a=[3,4,2,5,6,10,12,3,5,97]

list(map(lambda x: x if x%2==0 else None ,a))

[None, 4, 2, None, 6, 10, 12, None, None, None]

In [ ]:
list(map(lambda x: x if x%2==0 else None ,a))

In [20]:
def even(x):
  if x%2==0:
    return x

In [21]:
list(map(even ,a))

[None, 4, 2, None, 6, 10, 12, None, None, None]

In [22]:
### map will always return some value
##. for each item in the iterable

list(filter(lambda x: True if x%2==0 else False ,a))


## function used in filter should return Boolean values only

[4, 2, 6, 10, 12]

In [23]:
list(filter(lambda x: x%2==0 ,a))


# True if x%2==0 else False
# x%2==0

[4, 2, 6, 10, 12]

In [25]:
list(filter(lambda x: not x%2==0 ,a))

[3, 5, 3, 5, 97]

In [26]:
a=[1,0,0,0,0,1,1]
b=[1,0,1,0,0,1,0,1,0,1]
list(map(lambda x,y: (x,y), a,b))

[(1, 1), (0, 0), (0, 1), (0, 0), (0, 0), (1, 1), (1, 0)]

In [31]:
## zipping

# create a list of tuples of items from given iterable


c=list(zip(a,b))

In [33]:
a1=list(map(lambda x:x[0] , c))
b1=list(map(lambda x:x[1] , c))
a1

[1, 0, 0, 0, 0, 1, 1]

In [34]:
###
c

[(1, 1), (0, 0), (0, 1), (0, 0), (0, 0), (1, 1), (1, 0)]

In [35]:

from functools import reduce
a=[1,2,3,4,5]
result=reduce(lambda x,y :x+y ,a)
result

15

In [36]:

## we were trying to get total number of 5 multiples

a=[2,10,22,36,45,57]
reduce(lambda x,y: x+1 if y%5==0 else x ,a)

4

In [37]:


reduce(lambda cnt,i: cnt+1 if i%5==0 else cnt ,a, 1)

cnt=1
for i in a:
  if i%5==0:
    cnt=cnt+1

2

In [ ]:
reduce(func, [1,2,3,4,5,6],100)

reduce(func, [100,1,2,3,4,5,6])

In [38]:
a = [1, 2, 3]
b = ["a", "b"]
list(zip(a,b))

[(1, 'a'), (2, 'b')]

In [1]:
##
def sum_num(x,y):
  return x+y

In [2]:
sum_num(6,7)

13

In [ ]:
# add 3 nnumber -> can the same function
# stillbe used

In [ ]:
def sum_num2(x,y,z):
  return x+y+z

In [11]:
def sum_num2(x,y,*args):
  print(args)
  return x+y

In [12]:
sum_num2(4,5)

()

9

In [13]:
sum_num2(4,5,6)

(6,)

9

In [14]:
sum_num2(4,5,6,34,25,45,65)

(6, 34, 25, 45, 65)

9

In [5]:
sum_num2(4)
## throw an error y is not avaiable

TypeError: sum_num2() missing 1 required positional argument: 'y'

In [ ]:
def sum_num2(x,y,*args):
  print(args)
  return x+y

In [15]:
def sum_num2(x,y,*mychoice):
  print(mychoice)
  return x+y

sum_num2(2,3,4,5,6,7,8,9)

(4, 5, 6, 7, 8, 9)

5

In [ ]:
def sum_num2(x,y,mychoice):
  print(mychoice)
  return x+y

sum_num2(2,3,4)

sum_num2(2,3)
sum_num2(2,3,4,5,6)

In [17]:
def sum_num2(x,y,*mychoice):
  result=x+y
  print(type(mychoice))
  # print(type(*mychoice))
  if mychoice:
    return result+sum(mychoice)
  return result

sum_num2(2,3,4,5,6,7)

<class 'tuple'>

TypeError: type() takes 1 or 3 arguments

In [18]:

def create_person(name,age,gender):
  Person={
      "name":name,
      "age":age,
      "gender":gender
  }
  return Person

p1= create_person(name="Archit",age=26,gender="M")
p2= create_person(name="Archit1",age=26,gender="M",hobby="chess")

{'name': 'Archit', 'age': 26, 'gender': 'M'}

In [19]:
def create_person(name,age,gender,*args):
  print(args)
  Person={
      "name":name,
      "age":age,
      "gender":gender
  }
  return Person

p2= create_person("Archit1",26,"M","chess")

('chess',)

In [21]:
def create_person(name,age,gender,**kwargs):
  print(kwargs)
  Person={
      "name":name,
      "age":age,
      "gender":gender
  }
  return Person

p2= create_person("Archit1",26,"M",hobby="chess",color="blue")
# p3= create_person("Archit1",26,"M",color="blue",hobby="chess")

{'hobby': 'chess', 'color': 'blue'}

In [22]:
def random(x,y,*args,**kwargs):
  print(x)
  print(y)
  print(args)
  print(kwargs)

random(1,2,3,4,5,6,7,hobby="hello",city="blr")

1
2
(3, 4, 5, 6, 7)
{'hobby': 'hello', 'city': 'blr'}

In [23]:
def random(x,y,*args,**kwargs):
  print(x)
  print(y)
  print(args)
  print(kwargs)

random(1,2,3,4,5,hobby="hello",city="blr",6,7)

SyntaxError: positional argument follows keyword argument (<ipython-input-23-205123cf5651>, line 7)

In [27]:
def random(x,y,z,*args,**kwargs):
  print(x)
  print(y)
  print(args)
  print(kwargs)
random(1,2,3,4,a=5,hobby="hello",city="blr")

1
2
(4,)
{'a': 5, 'hobby': 'hello', 'city': 'blr'}

In [ ]:
def random(x,y,*args,**kwargs):
  print(x)
  print(y)
  print(args)
  print(kwargs)
random(1,2,a=5,hobby="hello",city="blr")

In [28]:
def random(x,y,*args,**kwargs):
  print(x)
  print(y)
  print(args)
  print(kwargs)
random(y=1,x=2,a=5,hobby="hello",city="blr")

2
1
()
{'a': 5, 'hobby': 'hello', 'city': 'blr'}

In [29]:
def random(x,y,z,*args,**kwargs):
  print(x)
  print(y)
  print(args)
  print(kwargs)
random(2,z=3,y=1,a=5,hobby="hello",city="blr")

2
1
()
{'a': 5, 'hobby': 'hello', 'city': 'blr'}

In [30]:
def random(x,y,z,*args,**kwargs):
  print(x)
  print(y)
  print(args)
  print(kwargs)
random(2,x=3,y=1,a=5,hobby="hello",city="blr")

TypeError: random() got multiple values for argument 'x'

In [ ]:
def sample_func(x, y, *args, **kwargs):
    return x, y, args, kwargs

sample_func(1, 2, 3, 4, a=5, b=6)

In [ ]:

a=[1,2,3,4,5,6,7]


cnt=None
for i in range(len(a)-1):
  cnt=F(a[i],a[i-1])

In [ ]:
###

# can we override _init_ method for normal variables

In [ ]:
## overwriding

class newInt(Integer.Class):
  def __init__(self,x):


a=5
a=newInt(5)

In [ ]:
## Regex


## regular expression -> language of string patterns

In [ ]:
"archit_1234_blr"
"archadit_1232434_jpy"
"archidwqt_1223434_usd"
"arcasdchit_123434_inr"
"arcwdwshit_1234_jpg"

In [ ]:
'^arc\w+_\d+_\w{3}'



re library

## it works as a regex matcher and substitue

In [31]:
A = ['TV', 'TV', 'TV', 'TV', 'TV', 'TV', 'TV', 'TV', 'TV', 'TV', 'TV', 'TV', 'Social Media', 'Social Media', 'Social Media', 'Social Media', 'Social Media', 'Social Media', 'Social Media', 'Social Media', 'Social Media', 'Social Media', 'Social Media', 'Social Media']
B = ['Young Adults', 'Middle-Aged', 'Seniors', 'Young Adults', 'Middle-Aged', 'Seniors', 'Young Adults', 'Middle-Aged', 'Seniors', 'Young Adults', 'Middle-Aged', 'Seniors', 'Young Adults', 'Middle-Aged', 'Seniors', 'Young Adults', 'Middle-Aged', 'Seniors', 'Young Adults', 'Middle-Aged', 'Seniors', 'Young Adults', 'Middle-Aged', 'Seniors']
E = [98, 88, 74, 67, 80, 98, 78, 82, 70, 70, 83, 95, 99, 83, 62, 81, 61, 83, 89, 97, 61, 80, 92, 71]

In [33]:
len(A)

24

In [37]:
len(B)

24

In [36]:
len(E)

24